.lan-host {
	@extend .selectable-item;

	.lan-host-name {
		font-weight: 600;
	}

	&.lan-host-selected {
		border: 1px solid transparent;
		@extend .selectable-item.selected;

		.lan-host-name {
			text-shadow: none;
		}
	}
}
