// Logo
.fbxos-logo {
	text-align: center;

	&:before {
		content: "Freebox OS";
		font-family: $roboto;
		font-size: 60px;
		color: rgba(#fff, 0.95);
		text-shadow: 0 0 4px rgba(#000, 0.5);
	}

	#logo_freeboxos {
		display: none;
	}

	.fbxos-version {
		.fbxos-version-sprite {
			display: none;
		}
		.fbxos-version-text {
			font-size: 21px;
			color: rgba(#fff, 0.95);
			text-shadow: 0 0 4px rgba(#000, 0.5);
		}
	}
}

// Icons
.desktop-icon-outer {
	height: 120px;

	.desktop-icon {
		width: 60px;
		height: 60px;
		margin: 5px auto 10px auto;
		background-color: $color-dark;
		color: rgba(#fff, 0.95);
		font-size: 42px!important;
		line-height: 60px;
		text-shadow: 1px 1px 1px rgba(#000, 0.1);
		@include border-radius(50%);
		@extend .elevation-low;

		// Set colors
		@each $color in $icons-colors-80-32 {
			&.app-icons-80-#{nth($color, 1)} {
				background-color: nth($color, 2);
			}
		}

		// Exceptions
		&.app-icons-80-pvr {
			font-size: 60px!important;
		}
		&.app-icons-80-calls {
			padding-right: 5px;
			padding-top: 2px;
		}
	}

	&.desktop-selected {
		padding: 5px;
		border: 0;
		background-color: $active-dark;
		@extend .elevation-medium;
		@include border-radius(2px!important);
		@include transition-duration($timing-short);
	}

	span[aria-label] {
		color: rgba(#fff, 0.95);
		font-family: $roboto;
		line-height: 15px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		font-weight: 600;
	}
}

// MobileInfo
#mobileInfo {
	border: 0;
	background-color: $color-dark;
	@include border-radius(2px);
	@extend .elevation-low;

	h3 {
		font-family: $roboto;
		margin-top: 0;
	}

	.btn-cancel {
		color: #fff;
	}
}
