// ICONS DEFINITIONS

// Desktop icons
$icons-80: (
	settings-connectionstatus: "\F5F6", // Etat de la Freebox
	tv: 			"\F502", 			// Freebox TV
	downloader: 	"\F162", 			// Téléchargements
	explorer: 		"\F24B",			// Explorateur de fichiers
	settings-parentalfilterconfig: "\F250", // Contrôle parental
	lanbrowser: 	"\F317", 			// Périphériques réseau
	calls: 			"\F3F9", 			// Journal d'appels
	pvr: 			"\F44B", 			// Gestion des enregistrements
	epg: 			"\F395", 			// Guide des programmes
	contacts: 		"\F18E", 			// Contacts
	settings: 		"\F493", 			// Paramètres de la Freebox
);

// Other icons
$icons-32: (
	logout: 		"\F343",
	reboot:			"\F453",
	quickstart:		"\F068",
	help: 			"\F2D7",
	wifi-toggle-off: "\F5A9",
	wifi-toggle-on: "\F5AA",
	pub-toggle-off: "\F2D8",
	pub-toggle-on:  "\F2D9"
);
// Add $icons-80 to $icons-32
$icons-32: map_merge($icons-32, $icons-80);


// USE ICONS DEFINITIONS
.app-icons {
	background: none 0;
}
.app-icons-32 {
	@extend .app-icons;

	color: #444;
	font-size: 28px;
}
.app-icons-80 {
	@extend .app-icons;

	display: block!important;
	font-size: 60px!important;
}

// Desktop icons
.desktop-icon {
	@extend .app-icons-80;

	@each $icon in $icons-80 {
		&.app-icons-80-#{nth($icon, 1)} {
			@include material-icon(nth($icon, 2));
		}
	}
}

// Other icons
@each $icon in $icons-32 {
	.btn-32-#{nth($icon, 1)}, .app-icons-32-#{nth($icon, 1)} {
		@extend .app-icons-32;
		@include material-icon(nth($icon, 2));
	}
}
