// ICONS DEFINITIONS

// Desktop icons (size: 80)
$icons-80: (
	settings-connectionstatus: $mdi-heart-pulse, // Etat de la Freebox
	tv: 			$mdi-television,		// Freebox TV
	downloader: 	$mdi-cloud-download, 	// Téléchargements
	explorer: 		$mdi-folder,			// Explorateur de fichiers
	settings-parentalfilterconfig: $mdi-folder-lock, // Contrôle parental
	lanbrowser: 	$mdi-lan, 				// Périphériques réseau
	calls: 			$mdi-phone-log, 		// Journal d'appels
	pvr: 			$mdi-record-rec, 		// Gestion des enregistrements
	epg: 			$mdi-newspaper, 		// Guide des programmes
	contacts: 		$mdi-contact-mail, 		// Contacts
	settings: 		$mdi-settings, 			// Paramètres de la Freebox
	help:			$mdi-help-circle
);

// UI icons (size: 32)
$icons-32: (
	logout: 		$mdi-logout,
	reboot:			$mdi-reload,
	quickstart:		$mdi-auto-fix,
	wifi-toggle-off: $mdi-wifi,
	wifi-toggle-on: $mdi-wifi-off,
	pub-toggle-off: $mdi-hexagon,
	pub-toggle-on:  $mdi-hexagon-outline,
	harddisk:		$mdi-harddisk
);
// Add $icons-80 to $icons-32
$icons-32: map_merge($icons-32, $icons-80);

// Toolbar icons (size: 24)
$icons-24: (
	add:			$mdi-plus-circle,
	setting-tools: 	$mdi-settings,
	control-play-blue: $mdi-play-circle,
	rss-add:		$mdi-rss-box
);

// Toolbar icons (size: 16)
$icons-16: (
	folder: 		$mdi-folder,
	folder-add:		$mdi-folder-plus,
	arrow-refresh:	$mdi-refresh,
	share:			$mdi-share,
	bullet-white:	$mdi-checkbox-blank-circle,
	delete:			$mdi-delete,
	setting-tools:	$mdi-settings,
	vcard-add:		$mdi-account-multiple-plus
);


// USE ICONS DEFINITIONS
.app-icons {
	background: none 0;

	font-size: 16px;
}
.app-icons-16 {
	@extend .app-icons;
}
.app-icons-24 {
	@extend .app-icons;

	font-size: 24px;
}
.app-icons-32 {
	@extend .app-icons;

	color: #444;
	font-size: 28px;
}
.app-icons-80 {
	@extend .app-icons;

	display: block!important;
	font-size: 60px!important;
}

// Desktop icons (80)
.desktop-icon {
	@extend .app-icons-80;

	@each $icon in $icons-80 {
		&.app-icons-80-#{nth($icon, 1)} {
			@include material-icon(nth($icon, 2));
		}
	}
}

// UI icons (32)
@each $icon in $icons-32 {
	.btn-32-#{nth($icon, 1)}, .app-icons-32-#{nth($icon, 1)} {
		@extend .app-icons-32;
		@include material-icon(nth($icon, 2));
	}
}

// Toolbar icons (24)
@each $icon in $icons-24 {
	.btn-24-#{nth($icon, 1)},
	.x-btn-icon-text-right .btn-24-#{nth($icon, 1)},
	.x-btn-icon-text-left .btn-24-#{nth($icon, 1)} {
		@extend .app-icons-24;
		@include material-icon(nth($icon, 2));
	}
}

// Toolbar icons (16)
@each $icon in $icons-16 {
	.x-btn-icon-text-right, .x-btn-icon-text-left {
		.btn-#{nth($icon, 1)} {
			@extend .app-icons-16;
			@include material-icon(nth($icon, 2));
		}
	}
}
