/* SASS mixins */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false) {
    $params: $shadow1;
    @if $shadow2 { $params: $shadow1, $shadow2; }
    @if $shadow3 { $params: $shadow1, $shadow2, $shadow3; }
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    -o-box-shadow: $params;
    box-shadow: $params;
}
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin box-sizing($param) {
    box-sizing: $param;
    -moz-box-sizing: $param;
    -webkit-box-sizing: $param;
}
@mixin transition($transition1, $transition2:false) {
    $params: $transition1;
    @if $transition2 { $params: $transition1, $transition2; }
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
    transition: $params;
}
@mixin transition-duration($duration) {
    -webkit-transition-duration: $duration;
    -moz-transition-duration: $duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
}
@mixin transition-property($param1, $param2:false) {
    $param: $param1;
    @if $param2 { $param: $param1, $param2; }
    -webkit-transition-property: $param;
    -moz-transition-property: $param;
    -ms-transition-property: $param;
    -o-transition-property: $param;
    transition-property: $param;
}
@mixin background-size($param) {
    -webkit-background-size: $param;
    -moz-background-size: $param;
    -o-background-size: $param;
    background-size: $param;
}
@mixin rotate($param) {
    -ms-transform: rotate($param);
    -webkit-transform: rotate($param);
    -moz-transform: rotate($param);
    -o-transform: rotate($param);
    transform: rotate($param);
}
@mixin transform-origin($param) {
    -webkit-transform-origin: $param;
    -moz-transform-origin: $param;
    -ms-transform-origin: $param;
    -o-transform-origin: $param;
    transform-origin: $param;
}
