/**
 * Material-Freebox-OS
 */

// Define vars
$roboto: 			Roboto, sans-serif;

$color-primary: 	#00A6F6;
$color-primary-dark: #0285D3;

$timing-short:	150ms;
$timing-medium: 250ms;
$timing-long:	350ms;


// Import part files
@import 'mixins';
@import 'material';
@import 'components';

@import 'window';
@import 'toolbar';
@import 'desktop';
@import 'icons';


body {
	background-image: url('../img/wallpaper.jpg');
	background-position: center;
	@include background-size(cover);
}

// Dropdown
.x-menu {
	@extend .elevation-low;
	@include border-radius(2px);

	.x-menu-body {
		border: 0;
		background-color: #fff;
		padding: 3px 0;

		.x-menu-icon-separator {
			display: none;
		}

		.x-menu-item {
			border-color: transparent;
			transition-property: background;
			transition-duration: $timing-short;
			@include border-radius(0);

			.x-menu-item-link {
				.x-menu-item-text {
					font-family: $roboto;
				}
			}

			&.x-menu-item-active {
				background: $hover-light;

				.x-menu-item-link {
					background: transparent !important;
				}
			}
		}
	}
}
