/**
 * Material-Freebox-OS
 */

// Define vars
$roboto: 			Roboto, sans-serif;

// Import part files
@import 'mixins';
@import 'materialdesignicons';
@import 'materialdesignicons-vars';
@import 'material';
@import 'components';

@import 'window';
@import 'toolbar';
@import 'desktop';
@import 'icons';

@import 'app-browser';
@import 'app-settings';


body {
	background-image: url('../img/wallpaper.jpg');
	background-position: center;
	@include background-size(cover);
}

// Login form
#login-form #formContent {
	background-color: #fff;
	@include border-radius(2px);
	@extend .elevation-medium;

	.submit-btn {
		border: 0!important;
		width: auto;
		margin: auto;
		background: transparent;
		@extend .material-button--elevated.primary;
	}
}
