/**
 * Material-Freebox-OS
 * Browser action style
 */

// Bower bourbon dependency
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';

// Bower materialdesignicons-scss-variables dependency
@import '../../../bower_components/materialdesignicons-scss-variables/dist/materialdesignicons';
@import '../../../bower_components/materialdesignicons-scss-variables/dist/materialdesignicons-vars';

@import '../../css/material';
@import '../../css/material-buttons';
@import '../../css/inputs';

html, body {
    margin: 0;
    padding: 0;
    width: 380px;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: $roboto;
    color: $color-text-dark;

    cursor: default;
    @include user-select(none);
}

* {
    box-sizing: border-box;
}

header, .content .part, footer {
    padding: 5px 10px;
}

h1 {
    margin: 5px 0 0 0;
}
h2 {
    font-weight: 500;
    margin: 25px 0 5px 0;

    .source {
        color: $color-text-dark;
        text-decoration: none;
        font-size: 10px;
        opacity: 0.4;
    }
}

.ul-nostyle {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
}

.content {
    position: relative;

    // Colors & wallpapers lists
    .part-colors, .part-wallpapers {
        ul {
            @extend .ul-nostyle;

            li {
                cursor: pointer;
                display: inline-block;
                margin: 2px;
                border-radius: 2px;

                // Check icon
                position: relative;

                &:before {
                    position: absolute;
                    bottom: 2px;
                    right: 2px;
                    font-size: 20px;
                    color: #fff;
                    text-shadow: 1px 1px 1px rgba(#000, 0.3);
                    @include transition-duration($timing-short);
                    @include material-icon-simple($mdi-check-circle);
                    opacity: 0;
                }

                &.current:before {
                    opacity: 1;
                }
            }
        }
    }

    .part-colors {
        h2:first-child {
            margin-top: 0;
        }

        ul {
            @extend .ul-nostyle;

            li {
                width: 32px;
                height: 32px;
            }
        }
    }

    .part-wallpapers {
        ul {
            @extend .ul-nostyle;

            li {
                width: calc(33% - 4px);
                height: 75px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        #wallpapers-url {
            display: inline-block;
            width: calc(100% - 8px);
            margin: 6px 2px 2px;
        }

        .credits {
            display: table;
            margin-left: auto;
            opacity: 0.4;
            @include transition-duration($timing-short);
            @include transition-property(opacity);

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

footer {
    margin-top: 20px;
    text-align: right;
    @extend .primary-color--background;
    @include transition-duration($timing-medium);
    @include transition-property(background);

    a.material-button--flat--primary {
        display: inline-block;
        text-decoration: none;
        padding-left: 7px;
        margin: 0;

        .x-btn-inner {
            font-size: 13px;

            &:before {
                font-size: 16px!important;
                vertical-align: middle;
                margin-right: 5px;
                margin-top: -1px;
            }
        }

        &.btn-author .x-btn-inner:before {
            @include material-icon-simple($mdi-account);
        }
        &.btn-github .x-btn-inner:before {
            @include material-icon-simple($mdi-github-circle);
        }
    }
}
