/**
 * Material-Freebox-OS
 * Downloader app
 */

.animprogress {
    height: 12px;
    border: 0;
    @include border-radius(2px);

    .pct {
        font-family: $roboto;
    }

    > span {
        height: 12px;
        background-image: none;
        background-color: map-get($color-green, 500);
        @include border-radius(2px);
        @include box-shadow(none);
    }

    &.blue > span {
        background-color: map-get($color-blue, 500);
    }
}

.btn-24-download-stopped { color: map-get($color-red, 500); }
.btn-24-download-queued { color: map-get($color-orange, 500); }
.btn-24-download-downloading { color: map-get($color-green, 500); }

.x-form-timetable-table {
    tr {
        border: 1px solid #fff;
    }
}

.timetable-btn {
    margin-top: -5px;

    em span {
        color: #fff;
        font-style: normal;
    }
}
