/**
 * Material-Freebox-OS
 * Settings app
 */

.setting-list-app {
    h3 {
        border-bottom: 0;
        font-family: $roboto;
        margin: 10px 5px 5px 5px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 6px;
    }

    .setting-app {
        cursor: default;
        border-radius: 2px;
        transition-property: background;
        transition-duration: $timing-short;

        &.setting-app-over {
            border-color: transparent;
            background: $color-hover-light;
        }

        span[role="presentation"] {
            font-family: $roboto;
        }

        &.setting-app-selected {
            border-color: transparent;
            @extend .accent-color--background;

            .thumb .setting-app-img {
                color: #fff;
            }
        }

        @for $i from 1 through length($material-colors) {
            &:nth-child(#{$i}n) .setting-app-img {
                color: material-color(nth(map-values($material-colors), $i));
            }
        }
    }
}

.x-docked {
    // Remove background from wifi settings left pane icons
    .btn-32-lock-edit,
    .btn-32-wifi-calendar,
    .btn-32-wifi-toggle-on,
    .btn-32-wifi-toggle-off,
    .btn-32-delete {
        background: none;
    }
}
