/**
 * Material-Freebox-OS
 * Various UI components
 */

// Tabs
.x-tab {
    cursor: default;
    padding: 10px 16px 8px 16px;
    background: transparent;
    border: 0!important;
    border-bottom: 3px solid transparent!important;
    transition-duration: 150ms;
    transition-property: background, border-bottom-color;
    border-radius: 0;

    .x-tab-inner {
        color: #fff!important;
        font-family: $roboto;
        font-weight: 500;
    }

    &.x-tab-top-active {
        background: transparent!important;
        border-bottom-color: rgba(#000, 0.4)!important;
    }

    &.x-tab-top-disabled {
        background: none!important;
        opacity: 0.5;
    }

    &:hover {
        background-color: $color-hover-light;
    }
}

// Panel header
.x-panel-header {
    border-radius: 2px 2px 0 0;

    .x-panel-header-text-default {
        font-family: $roboto;
        font-weight: 500;
    }
}

// Table header
.x-grid-header-ct {
    background: $color-background-light none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

    .x-column-header {
        background: $color-background-light none;

        .x-column-header-inner {
            padding: 9px 9px 8px;

            .x-column-header-text {
                font-family: $roboto;
                font-weight: $typography-label-font-weight;
                font-size: $typography-label-font-size;
                color: $typography-label-color;
            }

            .x-column-header-trigger {
                visibility: hidden;
                right: 2px;
                background: none;
                @include material-icon($mdi-dots-vertical);

                &:before {
                    font-size: 15px;
                    line-height: 30px;
                }
            }

            &.x-column-header-over {
                background: $color-hover-light none;

                .x-column-header-trigger {
                    visibility: visible;
                }
            }
        }

        // ASC / DESC icon
        &.x-column-header-sort-ASC,
        &.x-column-header-sort-DESC {
            .x-column-header-text {
                background-image: none;

                &:before {
                    margin-left: 5px;
                    float: right;
                }
            }
        }
        &.x-column-header-sort-ASC .x-column-header-text {
            @include material-icon($mdi-chevron-up);
        }
        &.x-column-header-sort-DESC .x-column-header-text {
            @include material-icon($mdi-chevron-down);
        }
    }
}

// Dropdown, contextual menu
.x-menu {
    @extend .elevation-low;
    border-radius: 2px;

    .x-menu-body {
        border: 0;
        background-color: #fff;
        padding: 3px 0;

        .x-menu-icon-separator {
            display: none;
        }

        .x-menu-item {
            cursor: default;
            padding: 0;
            border-color: transparent;
            transition-property: background;
            transition-duration: $timing-short;
            border-radius: 0;

            .x-menu-item-link {
                cursor: default;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-left: 35px;

                .x-menu-item-icon {
                    top: 9px!important;
                    left: 8px!important;
                    color: $color-icon-dark;
                }
                .x-menu-item-text {
                    cursor: default;
                    font-size: 13px;
                    font-family: $roboto;
                }
                .x-menu-item-arrow {
                    top: 10px;
                    right: 3px;
                    color: $color-text-dark;
                    background-image: none;
                    @include material-icon($mdi-chevron-right);
                }
                .x-menu-item-checkbox,
                .btn-bullet-blue {
                    background-image: none;
                    font-size: 8px;
                    line-height: 16px;
                }
                .x-menu-item-checkbox {
                    @include material-icon($mdi-checkbox-blank-circle-outline);
                }
                .btn-bullet-blue {
                    @include material-icon($mdi-checkbox-blank-circle);
                }
            }
            &.x-menu-item-checked .x-menu-item-checkbox {
                @include material-icon($mdi-checkbox-blank-circle);
            }

            &.x-menu-item-active {
                border: 0;
                background: $color-hover-light;

                .x-menu-item-link {
                    background: transparent !important;
                }
            }

            &.x-menu-item-separator {
                display: none;
            }
        }
    }
}

// Tip
.x-tip {
    border: 0;
    background-color: $color-dark;
    border-radius: 2px;
    @extend .elevation-lowest;

    .x-tip-body {
        color: #fff;
        font-family: $roboto;
    }

    &.x-tip-form-invalid {
        background-color: material-color($color-red);

        .x-tip-body-form-invalid {
            background: none;

            > span:before {
                position: absolute;
                left: 0;
                font-size: 15px;
                @include material-icon-simple($mdi-alert-circle);
            }
        }
    }
}

// Table
.x-grid-table {
    .x-grid-data-row {
        .x-grid-cell {
            padding: 3px 0;
            border-width: 0;

            .x-grid-cell-inner {
                padding: 6px 8px 6px;
                font-family: $roboto;
                font-size: 12px;
            }
        }
    }
}

.selectable-item {
    border: 0;
    background-color: $color-background-light;
    border-radius: 1px;
    transition-property: box-shadow;
    transition-duration: $timing-short;
    @extend .elevation-lowest;

    &.selected {
        @extend .accent-color--background;
    }
}

// Active item in a list
.dl-filter-active {
    background-color: $color-active-light;

    .x-menu-item-link {
        border: 0;
        padding-left: 0;
        background: transparent none;
    }
}

.x-btn-default-toolbar-small {
    background: none;

    .x-btn-split-right {
        background-image: none;
        @include material-icon($mdi-chevron-down);

        &:before {
            position: absolute;
            right: 0;
            top: 3px;
        }
    }
}

.x-toolbar .x-toolbar-separator-horizontal {
    border: 0;
}

.help-ttip {
    margin-top: 5px;
}

hr {
    border-width: 1px 0 0 0;
    border-color: $color-border-light;
}
