/**
 * Material-Freebox-OS
 * Icons replacements
 * We define materialdesignicons replacement icons for "each" Freebox OS png icon
 */

// Icons colors
// Each color should be assigned in its context when possible
$icons-colors-80-32: (
    settings-connectionstatus: map-get($color-amber, 500),
    tv:             map-get($color-red, 500),
    downloader:     map-get($color-purple, 500),
    explorer:       map-get($color-deep-purple, 500),
    settings-parentalfilterconfig: map-get($color-indigo, 500),
    lanbrowser:     map-get($color-blue, 500),
    calls:          map-get($color-teal, 500),
    pvr:            map-get($color-green, 500),
    epg:            map-get($color-light-green, 500),
    contacts:       map-get($color-orange, 500),
    settings:       map-get($color-deep-orange, 500),
    help:           map-get($color-brown, 500),
);

$icons-colors-24: (
);

$icons-colors-16: (
    help:           $color-accent
);

// Desktop icons (size: 80)
$icons-80: (
    settings-connectionstatus: $mdi-heart-pulse, // Etat de la Freebox
    tv:             $mdi-television,        // Freebox TV
    downloader:     $mdi-cloud-download,    // Téléchargements
    explorer:       $mdi-folder,            // Explorateur de fichiers
    settings-parentalfilterconfig: $mdi-folder-lock, // Contrôle parental
    lanbrowser:     $mdi-lan,               // Périphériques réseau
    calls:          $mdi-phone-log,         // Journal d'appels
    pvr:            $mdi-record-rec,        // Gestion des enregistrements
    epg:            $mdi-newspaper,         // Guide des programmes
    contacts:       $mdi-contact-mail,      // Contacts
    settings:       $mdi-settings,          // Paramètres de la Freebox
    help:           $mdi-help-circle,
);

// UI icons (size: 32)
$icons-32: (
    logout:         $mdi-logout-variant,
    login:          $mdi-login-variant,
    reboot:         $mdi-reload,
    quickstart:     $mdi-auto-fix,
    wifi-toggle-off: $mdi-wifi,
    wifi-toggle-on: $mdi-wifi-off,
    pub-toggle-off: $mdi-hexagon,
    pub-toggle-on:  $mdi-hexagon-outline,
    harddisk:       $mdi-harddisk,
    usb:            $mdi-usb,
    settings-connectionconfig:         $mdi-settings-box,
    settings-connectionipv6config:     $mdi-web,
    settings-connectiondyndns:         $mdi-dns,
    settings-vpnserver:     $mdi-vpn,
    settings-vpnclient:     $mdi-vpn,
    settings-ports-portredir:   $mdi-power-socket,
    settings-domains-domains:   $mdi-web,
    settings-phonefxsstatus:    $mdi-deskphone,
    settings-phonedectstatus:   $mdi-cellphone-basic,
    settings-wizarddect:        $mdi-cellphone-basic,
    settings-networkmode:       $mdi-server-network,
    settings-wifi-wifi:     $mdi-access-point-network,
    settings-wizardwifi:    $mdi-access-point-network,
    settings-dhcp:          $mdi-lan,
    settings-switch:        $mdi-switch,
    settings-freeplugs:     $mdi-ethernet-cable,
    settings-upnpigd:       $mdi-server-network,
    settings-storage:       $mdi-harddisk,
    settings-ftp:           $mdi-folder-move,
    settings-sharesamba:    $mdi-windows,
    settings-shareafp:      $mdi-laptop-mac,
    settings-airmedia:      $mdi-speaker,
    settings-upnpav:        $mdi-television-guide,
    settings-lcd:           $mdi-television,
    settings-license:       $mdi-message-text,
    settings-speedtest:     $mdi-speedometer,
    settings-tnt:           $mdi-radar,
    settings-accounts:      $mdi-lock,
    settings-adblockconfig: $mdi-hexagon,
    settings-reset:         $mdi-reload
);
// Add $icons-80 to $icons-32
$icons-32: map_merge($icons-32, $icons-80);

// Toolbar icons (size: 24)
$icons-24: (
    add:                $mdi-plus-circle,
    setting-tools:      $mdi-settings,
    control-play-blue:  $mdi-play-circle,
    control-pause-blue: $mdi-pause-circle,
    rss-add:            $mdi-rss-box,
    download-stopped:   $mdi-close-octagon,
    download-queued:    $mdi-dots-horizontal,
    download-downloading: $mdi-download,
    pvr:                $mdi-record-rec,
    epg:                $mdi-newspaper
);

// Toolbar icons (size: 16)
$icons-16: (
    folder:         $mdi-folder,
    folder-add:     $mdi-folder-plus,
    arrow-refresh:  $mdi-refresh,
    share:          $mdi-share,
    bullet-white:   $mdi-checkbox-blank-circle,
    delete:         $mdi-delete,
    setting-tools:  $mdi-settings,
    vcard-add:      $mdi-account-multiple-plus,
    export-excel:   $mdi-file-export,
    add:            $mdi-plus-circle,
    group-add:      $mdi-account-multiple-plus,
    cancel:         $mdi-close,
    save:           $mdi-content-save,
    disk:           $mdi-content-save,
    epg:            $mdi-newspaper,
    help:           $mdi-help-circle,
    accept:         $mdi-check-circle,
    filter-add:     $mdi-filter,
    edit:           $mdi-pencil,
    winrar-add:     $mdi-zip-box,
    cut:            $mdi-content-cut,
    page-copy:      $mdi-content-copy,
    btn-page-paste: $mdi-content-paste,
    folder-delete:  $mdi-delete,
    folder-edit:    $mdi-rename-box,
    application:    $mdi-open-in-app,
    properties:     $mdi-information,
    control-play-blue: $mdi-play-circle,
    recycle:        $mdi-autorenew,
    control-pause-blue: $mdi-pause-circle,
    magnifier:      $mdi-magnify,
    time:           $mdi-camera-timer,
    table-row-insert: $mdi-table-row-height,
    move-top:       $mdi-chevron-double-up,
    move-up:        $mdi-chevron-up,
    move-down:      $mdi-chevron-down,
    move-bottom:    $mdi-chevron-double-down,
    download-downloading: $mdi-download,
    download-seeding: $mdi-transfer,
    download-done:  $mdi-check-circle,
    download-error: $mdi-alert-box,
    rss:            $mdi-rss-box,
    rocket:         $mdi-rocket,
    turtle:         $mdi-duck,
    stop:           $mdi-octagon,
    calendar-view-month: $mdi-calendar-blank,
    access-allowed: $mdi-check-circle,
    rss-add:        $mdi-rss-box,
    rss-refresh:    $mdi-rss-box,
    world-add:      $mdi-plus-circle,
    page-add:       $mdi-folder-plus,
    cog-add:        $mdi-library-plus,
    phone-add:      $mdi-phone,
    email-add:      $mdi-email,
    building-add:   $mdi-home-map-marker,
    player-quality: $mdi-quality-high,
    player-play:    $mdi-play,
    player-stop:    $mdi-stop,
    player-record:  $mdi-record,
    player-volume:  $mdi-volume-high,
    sound-mute:     $mdi-volume-off,
    subtitle:       $mdi-message-text
);

// Sprite icons (no .btn- prefix)
$icons-16-no-prefix: (
    tel-icon-fixed:     $mdi-phone,
    tel-icon-work:      $mdi-phone,
    tel-icon-other:     $mdi-phone,
    tel-icon-mobile:    $mdi-cellphone,
    tel-icon-fax:       $mdi-fax,
    email-icon-work:    $mdi-email,
    email-icon-home:    $mdi-email,
    email-icon-other:   $mdi-email,
    address-icon-home:  $mdi-home,
    address-icon-work:  $mdi-home-modern,
    address-icon-other: $mdi-home,
    url-icon-profile:   $mdi-account,
    url-icon-blog:      $mdi-web,
    url-icon-site:      $mdi-web,
    url-icon-other:     $mdi-web
);


// USE ICONS DEFINITIONS
// Define classes
.app-icons {
    background: none 0;

    font-size: 16px;
}
.app-icons-16 {
    @extend .app-icons;
}
.app-icons-24 {
    @extend .app-icons;

    font-size: 24px;
}
.app-icons-32 {
    @extend .app-icons;

    color: $color-icon-dark;
    font-size: 28px;
}
.app-icons-80 {
    @extend .app-icons;

    display: block!important;
    font-size: 60px!important;
}

// Set icons
// Desktop icons (80)
.desktop-icon {
    @extend .app-icons-80;

    @each $icon in $icons-80 {
        &.app-icons-80-#{nth($icon, 1)} {
            @include material-icon(nth($icon, 2));
        }
    }
}

// UI icons (32)
@each $icon in $icons-32 {
    $selector-suffix: "32-#{nth($icon, 1)}:not(img)";

    .btn-#{$selector-suffix}, .app-icons-#{$selector-suffix} {
        @extend .app-icons-32;
        @include material-icon(nth($icon, 2));
    }
}

// Toolbar icons (24)
@each $icon in $icons-24 {
    $selector: ".btn-24-#{nth($icon, 1)}:not(img)";

    #{$selector},
    .x-btn-icon-text-right #{$selector},
    .x-btn-icon-text-left #{$selector} {
        @extend .app-icons-24;
        @include material-icon(nth($icon, 2));
    }
}

// Toolbar icons (16)
@each $icon in $icons-16 {
    $selector: ".btn-#{nth($icon, 1)}:not(img)";

    #{$selector},
    .x-btn-icon-text-right #{$selector},
    .x-btn-icon-text-left #{$selector} {
        @extend .app-icons-16;
        @include material-icon(nth($icon, 2));
    }
}
@each $icon in $icons-16-no-prefix {
    $selector: ".#{nth($icon, 1)}:not(img)";

    #{$selector} {
        @extend .app-icons-16;
        @include material-icon(nth($icon, 2));
    }
}

// Set colors
// Toolbar icons (size: 24)
@each $icon in $icons-colors-24 {
    $selector: ".btn-24-#{nth($icon, 1)}:not(img)";

    #{$selector},
    .x-btn-icon-text-right #{$selector},
    .x-btn-icon-text-left #{$selector} {
        color: nth($icon, 2);
    }
}

// Toolbar icons (16)
@each $icon in $icons-colors-16 {
    $selector: ".btn-#{nth($icon, 1)}:not(img)";

    #{$selector},
    .x-btn-icon-text-right #{$selector},
    .x-btn-icon-text-left #{$selector} {
        color: nth($icon, 2);
    }
}


// Separate icons
.app-icons-16-downloader {
    @extend .app-icons-16;
    @include material-icon($mdi-cloud-download);
}
.x-message-box-question, .x-message-box-warning {
    font-size: 35px;
    color: $color-text-dark;
    background-image: none;
}
.x-message-box-question {
    color: $color-alert-info;
    @include material-icon($mdi-comment-question-outline);
}
.x-message-box-warning {
    color: $color-alert-warning;
    @include material-icon($mdi-alert-circle);
}
