$selector-combobox-wrap: 'table[id^="combobox"].x-form-trigger-wrap, table[id^="timefield"].x-form-trigger-wrap';
$selector-combobox: '.x-form-field[role="combobox"]';

.x-form-trigger {
    cursor: default;
}

// Default button
.x-btn-default-small {
    @extend .material-button--elevated--primary;
}

// Checkbox
.x-form-cb-wrap-inner {

}

// Fieldset
fieldset.x-fieldset {
    position: relative;
    padding-top: 22px!important;
    padding-left: 14px!important;
    border-color: $color-input-border;
    border-width: 0 0 0 1px;
    margin: 10px 0 20px 0;

    legend.x-fieldset-header {
        position: absolute;
        top: 2px;
        padding: 0;

        .x-fieldset-header-text {
            font-family: $roboto;
            font-weight: 600;
            font-size: 14px;
            color: $color-accent-dark;
        }
    }
}

// Label, simple text value
.x-form-item-label, .x-form-display-field {
    font-family: $roboto;
    margin-top: 8px;
}

// Text input
.x-form-text {
    background-image: none;
    padding: 0 8px;
    height: 28px;
    font-family: $roboto;

    &.x-field-form-focus {
        border-color: $color-accent;
    }
}

// Shared styling between text input & combobox
.x-form-text, #{$selector-combobox-wrap} {
    border: 1px solid $color-input-border;
    @include border-radius(2px);
    @include transition-property(box-shadow, background-color, border-color);
    @include transition-duration($timing-short);

    &:hover {
        background-color: rgba(#000, 0.01);
        @extend .elevation-tiny;
    }
}

// Combobox
#{$selector-combobox-wrap} {
    #{$selector-combobox} {
        padding: 0 8px;
        height: 28px;
        border: 0;
        background: transparent;
        font-family: $roboto;
        @include no-select();
    }
    .x-form-arrow-trigger, .x-form-time-trigger {
        background: none;
        border: 0;
        @include material-icon($mdi-chevron-down);

        &:before {
            position: absolute;
            top: 8px;
        }
    }
}
// Focus state
.x-form-trigger-wrap-focus {
    #{$selector-combobox-wrap} {
        border-color: $color-accent;
    }
}

// Combobox inside window toolbar (primary-color background)
.x-toolbar-docked-top {
    #{$selector-combobox-wrap} {
        border-color: $color-border-light;

        .x-form-text {
            color: #fff;
        }
    }
}


// Combobox items list
.x-boundlist {
    border: 0;
    @include border-radius(2px);
    @extend .elevation-lowest;

    .x-list-plain {
        padding: 3px 0;

        .x-boundlist-item {
            cursor: default;
            padding: 5px 10px;
            border: 0;
            font-family: $roboto;
            @include transition-property(background);
            @include transition-duration($timing-short);
            @include border-radius(0);

            &.x-boundlist-item-over {
                background: $color-hover-light;
            }
            &.x-boundlist-selected {
                background: $color-active-light;
            }
        }
    }
}

// Slider
.x-slider {
    height: 2px;
    background: $color-accent none;

    .x-slider-end {
        background: none;

        .x-slider-inner {
            background: none;

            .x-slider-thumb {
                cursor: pointer;
                margin-top: -5px;
                background: #fff none;
                border: 1px solid $color-accent;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                @extend .elevation-tiny;
                @include transition-property(width, height, margin);
                @include transition-duration($timing-short);

                &.x-slider-thumb-drag {
                    width: 16px;
                    height: 16px;
                    margin-top: -6px;
                    margin-left: -8px;
                    @extend .elevation-lowest;
                }
            }
        }
    }
}
