.x-form-trigger {
    cursor: default;
}

// Fieldset
fieldset.x-fieldset {
    position: relative;
    padding-top: 22px!important;
    padding-left: 14px!important;
    border-color: $color-border;
    border-width: 0 0 0 1px;
    margin: 10px 0 20px 0;

    legend.x-fieldset-header {
        position: absolute;
        top: 2px;
        padding: 0;

        .x-fieldset-header-text {
            font-family: $roboto;
            font-weight: 600;
            font-size: 14px;
            color: $color-accent-dark;
        }
    }
}

// Label
.x-form-item-label {
    font-family: $roboto;
}

.x-form-text {
    background-image: none;
    @include border-radius(2px);
}

// Combobox
table[id^="combobox"] {
    .x-form-trigger-input-cell {
        @include material-icon($mdi-chevron-down);

        &:before {
            position: absolute;
            right: 0;
            padding: 8px;
        }
    }

    .x-form-field[role="combobox"] {
        padding: 0 8px;
        height: 28px;
        border-color: $color-border-light;
        font-family: $roboto;
        @include no-select();
        @include transition-property(box-shadow);
        @include transition-duration($timing-short);

        &:hover {
            @extend .elevation-tiny;
        }
    }
    .x-form-arrow-trigger {
        display: none;
    }
}
.x-pickerfield-open table[id^="combobox"] .x-form-field[role="combobox"] {
    @include box-shadow(inset $elevation-tiny);
}
// Combobox items list
.x-boundlist {
    border: 0;
    @include border-radius(2px);
    @extend .elevation-lowest;

    .x-list-plain {
        padding: 3px 0;

        .x-boundlist-item {
            cursor: default;
            padding: 5px 10px;
            border: 0;
            font-family: $roboto;
            @include transition-property(background);
            @include transition-duration($timing-short);
            @include border-radius(0);

            &.x-boundlist-item-over {
                background: $color-hover-light;
            }
            &.x-boundlist-selected {
                background: $color-active-light;
            }
        }
    }
}

// Slider
.x-slider {
    height: 2px;
    background: $color-accent none;

    .x-slider-end {
        background: none;

        .x-slider-inner {
            background: none;

            .x-slider-thumb {
                cursor: pointer;
                margin-top: -5px;
                background: #fff none;
                border: 1px solid $color-accent;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                @extend .elevation-tiny;
                @include transition-property(width, height, margin);
                @include transition-duration($timing-short);

                &.x-slider-thumb-drag {
                    width: 16px;
                    height: 16px;
                    margin-top: -6px;
                    margin-left: -8px;
                    @extend .elevation-lowest;
                }
            }
        }
    }
}
