/**
 * Material-Freebox-OS
 * Inputs styling
 */

// Default button
.x-btn-default-small {
    @extend .material-button--elevated--primary;
}

// Radio, checkbox
.x-form-checkbox,
.x-form-radio {
    width: 16px;
    height: 16px;
    background: none no-repeat -1px -2px;
    @include transition-duration($timing-medium);
}
.x-form-checkbox {
    border: 2px solid $color-accent;
    @include border-radius(2px);
}
.x-form-radio {
    border: 2px solid $color-input-border;
    @include border-radius(50%);
    @include box-shadow(inset 0 0 0 8px #fff);
}
.x-form-cb-checked {
    .x-form-checkbox {
        background: $color-accent url('../img/mdi-check.png') -1px -2px;
    }
    .x-form-radio {
        background: $color-accent;
        //border-color: $color-accent;
        @include box-shadow(inset 0 0 0 2px #fff);
    }
}

// Fieldset
fieldset.x-fieldset {
    position: relative;
    padding-top: 22px!important;
    padding-left: 14px!important;
    border-color: $color-input-border;
    border-width: 0 0 0 1px;
    margin: 10px 0 20px 0;

    legend.x-fieldset-header {
        position: absolute;
        top: 2px;
        padding: 0;

        .x-fieldset-header-text {
            font-family: $roboto;
            font-weight: 600;
            font-size: 14px;
            color: $color-accent-dark;
        }
    }
}

// Label, simple text value
.x-form-item-label, .x-form-display-field {
    font-family: $roboto;
    margin-top: 8px;
}

// Text input
.x-form-text {
    background-image: none;
    padding: 0 8px;
    height: 28px;
    font-family: $roboto;

    &.x-field-form-focus {
        border-color: $color-accent;
    }
    &.x-form-invalid-field {
        color: $color-red;
        background-image: none!important;
        border-bottom: 1px solid $color-red!important;
    }

    &.x-form-textarea {
        height: auto;
    }
}

// Shared styling between text input & combobox
.x-form-text, .x-form-trigger-wrap {
    border: 1px solid $color-input-border;
    @include border-radius(2px);
    @include transition-property(box-shadow, background-color, border-color);
    @include transition-duration($timing-short);

    &:hover {
        background-color: rgba(#000, 0.01);
        @extend .elevation-tiny;
    }
}
// Input inside combobox: no hover effect {
.x-form-trigger-wrap .x-form-text:hover {
    @extend .elevation-none;
}

// Combobox, numeric field
.x-form-trigger-wrap {
    .x-form-field {
        padding: 0 8px;
        height: 28px;
        border: 0;
        background-color: transparent!important;
        font-family: $roboto;

        // Invalid value
        &.x-form-invalid-field {
            @include border-radius(0);
        }
    }
    .x-form-field[role="combobox"] {
        @include no-select();
    }

    // Right buttons
    .x-form-arrow-trigger,
    .x-form-time-trigger,
    .x-form-spinner-up,
    .x-form-spinner-down {
        background: none;
        border: 0;

        // Dropdown chevron-down button
        &.x-form-arrow-trigger,
        &.x-form-time-trigger {
            @include material-icon($mdi-chevron-down);

            &:before {
                position: absolute;
                top: 8px;
            }
        }

        // Up/down numeric value buttons
        &.x-form-spinner-up,
        &.x-form-spinner-down {
            text-align: center;
            padding-top: 1px;

            &.x-form-spinner-up { @include material-icon($mdi-chevron-up); }
            &.x-form-spinner-down { @include material-icon($mdi-chevron-down); }
        }
    }
}
// Focus state
.x-form-trigger-wrap-focus .x-form-trigger-wrap {
    border-color: $color-accent;
}

// Combobox inside window toolbar (primary-color background)
.x-toolbar-docked-top .x-form-trigger-wrap {
    border-color: $color-border-light;

    .x-form-text {
        color: #fff;
    }
}

// Combobox items list
.x-boundlist {
    border: 0;
    @include border-radius(2px);
    @extend .elevation-lowest;

    .x-list-plain {
        padding: 3px 0;

        .x-boundlist-item {
            cursor: default;
            padding: 5px 10px;
            border: 0;
            font-family: $roboto;
            @include transition-property(background);
            @include transition-duration($timing-short);
            @include border-radius(0);

            &.x-boundlist-item-over {
                background: $color-hover-light;
            }
            &.x-boundlist-selected {
                background: $color-active-light;
            }
        }
    }
}

// Slider
.x-slider {
    height: 2px;
    background: $color-accent none;

    .x-slider-end {
        background: none;

        .x-slider-inner {
            background: none;

            .x-slider-thumb {
                cursor: pointer;
                margin-top: -5px;
                background: #fff none;
                border: 1px solid $color-accent;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                @extend .elevation-tiny;
                @include transition-property(width, height, margin);
                @include transition-duration($timing-short);

                &.x-slider-thumb-drag {
                    width: 16px;
                    height: 16px;
                    margin-top: -6px;
                    margin-left: -8px;
                    @extend .elevation-lowest;
                }
            }
        }
    }
}

.x-form-trigger {
    cursor: default;

    &.x-form-clear-trigger,
    &.x-form-search-trigger,
    &.x-form-date-trigger {
        background: none;
        border: 0;
        height: 24px;
        line-height: 28px;
        font-size: 16px;
        color: $color-text-dark;
    }

    &.x-form-clear-trigger {
        font-size: 13px;
        @include material-icon($mdi-close-circle);
    }
    &.x-form-search-trigger {
        @include material-icon($mdi-magnify);
    }
    &.x-form-date-trigger {
        @include material-icon($mdi-calendar);
    }
}
