/**
 * MaterialDesignIcons-SCSS-Variables
 * https://github.com/chteuchteu/MaterialDesignIcons-SCSS-Variables
 */

$mdi-access-point: "\F002";
$mdi-access-point-network: "\F003";
$mdi-account: "\F004";
$mdi-account-alert: "\F005";
$mdi-account-box: "\F006";
$mdi-account-box-outline: "\F007";
$mdi-account-card-details: "\F5D2";
$mdi-account-check: "\F008";
$mdi-account-circle: "\F009";
$mdi-account-convert: "\F00A";
$mdi-account-key: "\F00B";
$mdi-account-location: "\F00C";
$mdi-account-minus: "\F00D";
$mdi-account-multiple: "\F00E";
$mdi-account-multiple-minus: "\F5D3";
$mdi-account-multiple-outline: "\F00F";
$mdi-account-multiple-plus: "\F010";
$mdi-account-network: "\F011";
$mdi-account-off: "\F012";
$mdi-account-outline: "\F013";
$mdi-account-plus: "\F014";
$mdi-account-remove: "\F015";
$mdi-account-search: "\F016";
$mdi-account-star: "\F017";
$mdi-account-star-variant: "\F018";
$mdi-account-switch: "\F019";
$mdi-adjust: "\F01A";
$mdi-air-conditioner: "\F01B";
$mdi-airballoon: "\F01C";
$mdi-airplane: "\F01D";
$mdi-airplane-landing: "\F5D4";
$mdi-airplane-off: "\F01E";
$mdi-airplane-takeoff: "\F5D5";
$mdi-airplay: "\F01F";
$mdi-alarm: "\F020";
$mdi-alarm-check: "\F021";
$mdi-alarm-multiple: "\F022";
$mdi-alarm-off: "\F023";
$mdi-alarm-plus: "\F024";
$mdi-album: "\F025";
$mdi-alert: "\F026";
$mdi-alert-box: "\F027";
$mdi-alert-circle: "\F028";
$mdi-alert-circle-outline: "\F5D6";
$mdi-alert-octagon: "\F029";
$mdi-alert-outline: "\F02A";
$mdi-alpha: "\F02B";
$mdi-alphabetical: "\F02C";
$mdi-altimeter: "\F5D7";
$mdi-amazon: "\F02D";
$mdi-amazon-clouddrive: "\F02E";
$mdi-ambulance: "\F02F";
$mdi-amplifier: "\F030";
$mdi-anchor: "\F031";
$mdi-android: "\F032";
$mdi-android-debug-bridge: "\F033";
$mdi-android-studio: "\F034";
$mdi-animation: "\F5D8";
$mdi-apple: "\F035";
$mdi-apple-finder: "\F036";
$mdi-apple-ios: "\F037";
$mdi-apple-mobileme: "\F038";
$mdi-apple-safari: "\F039";
$mdi-appnet: "\F03A";
$mdi-apps: "\F03B";
$mdi-archive: "\F03C";
$mdi-arrange-bring-forward: "\F03D";
$mdi-arrange-bring-to-front: "\F03E";
$mdi-arrange-send-backward: "\F03F";
$mdi-arrange-send-to-back: "\F040";
$mdi-arrow-all: "\F041";
$mdi-arrow-bottom-left: "\F042";
$mdi-arrow-bottom-right: "\F043";
$mdi-arrow-collapse: "\F044";
$mdi-arrow-down: "\F045";
$mdi-arrow-down-bold: "\F046";
$mdi-arrow-down-bold-circle: "\F047";
$mdi-arrow-down-bold-circle-outline: "\F048";
$mdi-arrow-down-bold-hexagon-outline: "\F049";
$mdi-arrow-down-drop-circle: "\F04A";
$mdi-arrow-down-drop-circle-outline: "\F04B";
$mdi-arrow-expand: "\F04C";
$mdi-arrow-left: "\F04D";
$mdi-arrow-left-bold: "\F04E";
$mdi-arrow-left-bold-circle: "\F04F";
$mdi-arrow-left-bold-circle-outline: "\F050";
$mdi-arrow-left-bold-hexagon-outline: "\F051";
$mdi-arrow-left-drop-circle: "\F052";
$mdi-arrow-left-drop-circle-outline: "\F053";
$mdi-arrow-right: "\F054";
$mdi-arrow-right-bold: "\F055";
$mdi-arrow-right-bold-circle: "\F056";
$mdi-arrow-right-bold-circle-outline: "\F057";
$mdi-arrow-right-bold-hexagon-outline: "\F058";
$mdi-arrow-right-drop-circle: "\F059";
$mdi-arrow-right-drop-circle-outline: "\F05A";
$mdi-arrow-top-left: "\F05B";
$mdi-arrow-top-right: "\F05C";
$mdi-arrow-up: "\F05D";
$mdi-arrow-up-bold: "\F05E";
$mdi-arrow-up-bold-circle: "\F05F";
$mdi-arrow-up-bold-circle-outline: "\F060";
$mdi-arrow-up-bold-hexagon-outline: "\F061";
$mdi-arrow-up-drop-circle: "\F062";
$mdi-arrow-up-drop-circle-outline: "\F063";
$mdi-assistant: "\F064";
$mdi-at: "\F065";
$mdi-attachment: "\F066";
$mdi-audiobook: "\F067";
$mdi-auto-fix: "\F068";
$mdi-auto-upload: "\F069";
$mdi-autorenew: "\F06A";
$mdi-av-timer: "\F06B";
$mdi-baby: "\F06C";
$mdi-backburger: "\F06D";
$mdi-backspace: "\F06E";
$mdi-backup-restore: "\F06F";
$mdi-bank: "\F070";
$mdi-barcode: "\F071";
$mdi-barcode-scan: "\F072";
$mdi-barley: "\F073";
$mdi-barrel: "\F074";
$mdi-basecamp: "\F075";
$mdi-basket: "\F076";
$mdi-basket-fill: "\F077";
$mdi-basket-unfill: "\F078";
$mdi-battery: "\F079";
$mdi-battery-10: "\F07A";
$mdi-battery-20: "\F07B";
$mdi-battery-30: "\F07C";
$mdi-battery-40: "\F07D";
$mdi-battery-50: "\F07E";
$mdi-battery-60: "\F07F";
$mdi-battery-70: "\F080";
$mdi-battery-80: "\F081";
$mdi-battery-90: "\F082";
$mdi-battery-alert: "\F083";
$mdi-battery-charging: "\F084";
$mdi-battery-charging-100: "\F085";
$mdi-battery-charging-20: "\F086";
$mdi-battery-charging-30: "\F087";
$mdi-battery-charging-40: "\F088";
$mdi-battery-charging-60: "\F089";
$mdi-battery-charging-80: "\F08A";
$mdi-battery-charging-90: "\F08B";
$mdi-battery-minus: "\F08C";
$mdi-battery-negative: "\F08D";
$mdi-battery-outline: "\F08E";
$mdi-battery-plus: "\F08F";
$mdi-battery-positive: "\F090";
$mdi-battery-unknown: "\F091";
$mdi-beach: "\F092";
$mdi-beats: "\F097";
$mdi-beer: "\F098";
$mdi-behance: "\F099";
$mdi-bell: "\F09A";
$mdi-bell-off: "\F09B";
$mdi-bell-outline: "\F09C";
$mdi-bell-plus: "\F09D";
$mdi-bell-ring: "\F09E";
$mdi-bell-ring-outline: "\F09F";
$mdi-bell-sleep: "\F0A0";
$mdi-beta: "\F0A1";
$mdi-bible: "\F0A2";
$mdi-bike: "\F0A3";
$mdi-bing: "\F0A4";
$mdi-binoculars: "\F0A5";
$mdi-bio: "\F0A6";
$mdi-biohazard: "\F0A7";
$mdi-bitbucket: "\F0A8";
$mdi-black-mesa: "\F0A9";
$mdi-blackberry: "\F0AA";
$mdi-blender: "\F0AB";
$mdi-blinds: "\F0AC";
$mdi-block-helper: "\F0AD";
$mdi-blogger: "\F0AE";
$mdi-bluetooth: "\F0AF";
$mdi-bluetooth-audio: "\F0B0";
$mdi-bluetooth-connect: "\F0B1";
$mdi-bluetooth-off: "\F0B2";
$mdi-bluetooth-settings: "\F0B3";
$mdi-bluetooth-transfer: "\F0B4";
$mdi-blur: "\F0B5";
$mdi-blur-linear: "\F0B6";
$mdi-blur-off: "\F0B7";
$mdi-blur-radial: "\F0B8";
$mdi-bone: "\F0B9";
$mdi-book: "\F0BA";
$mdi-book-minus: "\F5D9";
$mdi-book-multiple: "\F0BB";
$mdi-book-multiple-variant: "\F0BC";
$mdi-book-open: "\F0BD";
$mdi-book-open-page-variant: "\F5DA";
$mdi-book-open-variant: "\F0BE";
$mdi-book-plus: "\F5DB";
$mdi-book-variant: "\F0BF";
$mdi-bookmark: "\F0C0";
$mdi-bookmark-check: "\F0C1";
$mdi-bookmark-music: "\F0C2";
$mdi-bookmark-outline: "\F0C3";
$mdi-bookmark-plus: "\F0C5";
$mdi-bookmark-plus-outline: "\F0C4";
$mdi-bookmark-remove: "\F0C6";
$mdi-boombox: "\F5DC";
$mdi-border-all: "\F0C7";
$mdi-border-bottom: "\F0C8";
$mdi-border-color: "\F0C9";
$mdi-border-horizontal: "\F0CA";
$mdi-border-inside: "\F0CB";
$mdi-border-left: "\F0CC";
$mdi-border-none: "\F0CD";
$mdi-border-outside: "\F0CE";
$mdi-border-right: "\F0CF";
$mdi-border-style: "\F0D0";
$mdi-border-top: "\F0D1";
$mdi-border-vertical: "\F0D2";
$mdi-bowling: "\F0D3";
$mdi-box: "\F0D4";
$mdi-box-cutter: "\F0D5";
$mdi-briefcase: "\F0D6";
$mdi-briefcase-check: "\F0D7";
$mdi-briefcase-download: "\F0D8";
$mdi-briefcase-upload: "\F0D9";
$mdi-brightness-1: "\F0DA";
$mdi-brightness-2: "\F0DB";
$mdi-brightness-3: "\F0DC";
$mdi-brightness-4: "\F0DD";
$mdi-brightness-5: "\F0DE";
$mdi-brightness-6: "\F0DF";
$mdi-brightness-7: "\F0E0";
$mdi-brightness-auto: "\F0E1";
$mdi-broom: "\F0E2";
$mdi-brush: "\F0E3";
$mdi-bug: "\F0E4";
$mdi-bulletin-board: "\F0E5";
$mdi-bullhorn: "\F0E6";
$mdi-bullseye: "\F5DD";
$mdi-burst-mode: "\F5DE";
$mdi-bus: "\F0E7";
$mdi-cached: "\F0E8";
$mdi-cake: "\F0E9";
$mdi-cake-layered: "\F0EA";
$mdi-cake-variant: "\F0EB";
$mdi-calculator: "\F0EC";
$mdi-calendar: "\F0ED";
$mdi-calendar-blank: "\F0EE";
$mdi-calendar-check: "\F0EF";
$mdi-calendar-clock: "\F0F0";
$mdi-calendar-multiple: "\F0F1";
$mdi-calendar-multiple-check: "\F0F2";
$mdi-calendar-plus: "\F0F3";
$mdi-calendar-remove: "\F0F4";
$mdi-calendar-text: "\F0F5";
$mdi-calendar-today: "\F0F6";
$mdi-call-made: "\F0F7";
$mdi-call-merge: "\F0F8";
$mdi-call-missed: "\F0F9";
$mdi-call-received: "\F0FA";
$mdi-call-split: "\F0FB";
$mdi-camcorder: "\F0FC";
$mdi-camcorder-box: "\F0FD";
$mdi-camcorder-box-off: "\F0FE";
$mdi-camcorder-off: "\F0FF";
$mdi-camera: "\F100";
$mdi-camera-enhance: "\F101";
$mdi-camera-front: "\F102";
$mdi-camera-front-variant: "\F103";
$mdi-camera-iris: "\F104";
$mdi-camera-off: "\F5DF";
$mdi-camera-party-mode: "\F105";
$mdi-camera-rear: "\F106";
$mdi-camera-rear-variant: "\F107";
$mdi-camera-switch: "\F108";
$mdi-camera-timer: "\F109";
$mdi-candle: "\F5E2";
$mdi-candycane: "\F10A";
$mdi-car: "\F10B";
$mdi-car-battery: "\F10C";
$mdi-car-connected: "\F10D";
$mdi-car-wash: "\F10E";
$mdi-carrot: "\F10F";
$mdi-cart: "\F110";
$mdi-cart-outline: "\F111";
$mdi-cart-plus: "\F112";
$mdi-case-sensitive-alt: "\F113";
$mdi-cash: "\F114";
$mdi-cash-100: "\F115";
$mdi-cash-multiple: "\F116";
$mdi-cash-usd: "\F117";
$mdi-cast: "\F118";
$mdi-cast-connected: "\F119";
$mdi-castle: "\F11A";
$mdi-cat: "\F11B";
$mdi-cellphone: "\F11C";
$mdi-cellphone-android: "\F11D";
$mdi-cellphone-basic: "\F11E";
$mdi-cellphone-dock: "\F11F";
$mdi-cellphone-iphone: "\F120";
$mdi-cellphone-link: "\F121";
$mdi-cellphone-link-off: "\F122";
$mdi-cellphone-settings: "\F123";
$mdi-certificate: "\F124";
$mdi-chair-school: "\F125";
$mdi-chart-arc: "\F126";
$mdi-chart-areaspline: "\F127";
$mdi-chart-bar: "\F128";
$mdi-chart-bubble: "\F5E3";
$mdi-chart-histogram: "\F129";
$mdi-chart-line: "\F12A";
$mdi-chart-pie: "\F12B";
$mdi-check: "\F12C";
$mdi-check-all: "\F12D";
$mdi-check-circle: "\F5E0";
$mdi-check-circle-outline: "\F5E1";
$mdi-checkbox-blank: "\F12E";
$mdi-checkbox-blank-circle: "\F12F";
$mdi-checkbox-blank-circle-outline: "\F130";
$mdi-checkbox-blank-outline: "\F131";
$mdi-checkbox-marked: "\F132";
$mdi-checkbox-marked-circle: "\F133";
$mdi-checkbox-marked-circle-outline: "\F134";
$mdi-checkbox-marked-outline: "\F135";
$mdi-checkbox-multiple-blank: "\F136";
$mdi-checkbox-multiple-blank-outline: "\F137";
$mdi-checkbox-multiple-marked: "\F138";
$mdi-checkbox-multiple-marked-outline: "\F139";
$mdi-checkerboard: "\F13A";
$mdi-chemical-weapon: "\F13B";
$mdi-chevron-double-down: "\F13C";
$mdi-chevron-double-left: "\F13D";
$mdi-chevron-double-right: "\F13E";
$mdi-chevron-double-up: "\F13F";
$mdi-chevron-down: "\F140";
$mdi-chevron-left: "\F141";
$mdi-chevron-right: "\F142";
$mdi-chevron-up: "\F143";
$mdi-church: "\F144";
$mdi-cisco-webex: "\F145";
$mdi-city: "\F146";
$mdi-clipboard: "\F147";
$mdi-clipboard-account: "\F148";
$mdi-clipboard-alert: "\F149";
$mdi-clipboard-arrow-down: "\F14A";
$mdi-clipboard-arrow-left: "\F14B";
$mdi-clipboard-check: "\F14C";
$mdi-clipboard-outline: "\F14D";
$mdi-clipboard-text: "\F14E";
$mdi-clippy: "\F14F";
$mdi-clock: "\F150";
$mdi-clock-alert: "\F5CE";
$mdi-clock-end: "\F151";
$mdi-clock-fast: "\F152";
$mdi-clock-in: "\F153";
$mdi-clock-out: "\F154";
$mdi-clock-start: "\F155";
$mdi-close: "\F156";
$mdi-close-box: "\F157";
$mdi-close-box-outline: "\F158";
$mdi-close-circle: "\F159";
$mdi-close-circle-outline: "\F15A";
$mdi-close-network: "\F15B";
$mdi-close-octagon: "\F15C";
$mdi-close-octagon-outline: "\F15D";
$mdi-closed-caption: "\F15E";
$mdi-cloud: "\F15F";
$mdi-cloud-check: "\F160";
$mdi-cloud-circle: "\F161";
$mdi-cloud-download: "\F162";
$mdi-cloud-outline: "\F163";
$mdi-cloud-outline-off: "\F164";
$mdi-cloud-print: "\F165";
$mdi-cloud-print-outline: "\F166";
$mdi-cloud-upload: "\F167";
$mdi-code-array: "\F168";
$mdi-code-braces: "\F169";
$mdi-code-brackets: "\F16A";
$mdi-code-equal: "\F16B";
$mdi-code-greater-than: "\F16C";
$mdi-code-greater-than-or-equal: "\F16D";
$mdi-code-less-than: "\F16E";
$mdi-code-less-than-or-equal: "\F16F";
$mdi-code-not-equal: "\F170";
$mdi-code-not-equal-variant: "\F171";
$mdi-code-parentheses: "\F172";
$mdi-code-string: "\F173";
$mdi-code-tags: "\F174";
$mdi-codepen: "\F175";
$mdi-coffee: "\F176";
$mdi-coffee-to-go: "\F177";
$mdi-coin: "\F178";
$mdi-color-helper: "\F179";
$mdi-comment: "\F17A";
$mdi-comment-account: "\F17B";
$mdi-comment-account-outline: "\F17C";
$mdi-comment-alert: "\F17D";
$mdi-comment-alert-outline: "\F17E";
$mdi-comment-check: "\F17F";
$mdi-comment-check-outline: "\F180";
$mdi-comment-multiple-outline: "\F181";
$mdi-comment-outline: "\F182";
$mdi-comment-plus-outline: "\F183";
$mdi-comment-processing: "\F184";
$mdi-comment-processing-outline: "\F185";
$mdi-comment-question-outline: "\F186";
$mdi-comment-remove-outline: "\F187";
$mdi-comment-text: "\F188";
$mdi-comment-text-outline: "\F189";
$mdi-compare: "\F18A";
$mdi-compass: "\F18B";
$mdi-compass-outline: "\F18C";
$mdi-console: "\F18D";
$mdi-contact-mail: "\F18E";
$mdi-content-copy: "\F18F";
$mdi-content-cut: "\F190";
$mdi-content-duplicate: "\F191";
$mdi-content-paste: "\F192";
$mdi-content-save: "\F193";
$mdi-content-save-all: "\F194";
$mdi-contrast: "\F195";
$mdi-contrast-box: "\F196";
$mdi-contrast-circle: "\F197";
$mdi-cookie: "\F198";
$mdi-copyright: "\F5E6";
$mdi-counter: "\F199";
$mdi-cow: "\F19A";
$mdi-credit-card: "\F19B";
$mdi-credit-card-multiple: "\F19C";
$mdi-credit-card-off: "\F5E4";
$mdi-credit-card-scan: "\F19D";
$mdi-crop: "\F19E";
$mdi-crop-free: "\F19F";
$mdi-crop-landscape: "\F1A0";
$mdi-crop-portrait: "\F1A1";
$mdi-crop-square: "\F1A2";
$mdi-crosshairs: "\F1A3";
$mdi-crosshairs-gps: "\F1A4";
$mdi-crown: "\F1A5";
$mdi-cube: "\F1A6";
$mdi-cube-outline: "\F1A7";
$mdi-cube-send: "\F1A8";
$mdi-cube-unfolded: "\F1A9";
$mdi-cup: "\F1AA";
$mdi-cup-off: "\F5E5";
$mdi-cup-water: "\F1AB";
$mdi-currency-btc: "\F1AC";
$mdi-currency-eur: "\F1AD";
$mdi-currency-gbp: "\F1AE";
$mdi-currency-inr: "\F1AF";
$mdi-currency-ngn: "\F1B0";
$mdi-currency-rub: "\F1B1";
$mdi-currency-try: "\F1B2";
$mdi-currency-usd: "\F1B3";
$mdi-cursor-default: "\F1B4";
$mdi-cursor-default-outline: "\F1B5";
$mdi-cursor-move: "\F1B6";
$mdi-cursor-pointer: "\F1B7";
$mdi-cursor-text: "\F5E7";
$mdi-database: "\F1B8";
$mdi-database-minus: "\F1B9";
$mdi-database-plus: "\F1BA";
$mdi-debug-step-into: "\F1BB";
$mdi-debug-step-out: "\F1BC";
$mdi-debug-step-over: "\F1BD";
$mdi-decimal-decrease: "\F1BE";
$mdi-decimal-increase: "\F1BF";
$mdi-delete: "\F1C0";
$mdi-delete-forever: "\F5E8";
$mdi-delete-sweep: "\F5E9";
$mdi-delete-variant: "\F1C1";
$mdi-delta: "\F1C2";
$mdi-deskphone: "\F1C3";
$mdi-desktop-mac: "\F1C4";
$mdi-desktop-tower: "\F1C5";
$mdi-details: "\F1C6";
$mdi-deviantart: "\F1C7";
$mdi-diamond: "\F1C8";
$mdi-dice-1: "\F1CA";
$mdi-dice-2: "\F1CB";
$mdi-dice-3: "\F1CC";
$mdi-dice-4: "\F1CD";
$mdi-dice-5: "\F1CE";
$mdi-dice-6: "\F1CF";
$mdi-dice-d20: "\F5EA";
$mdi-dice-d4: "\F5EB";
$mdi-dice-d6: "\F5EC";
$mdi-dice-d8: "\F5ED";
$mdi-directions: "\F1D0";
$mdi-disk: "\F5EE";
$mdi-disk-alert: "\F1D1";
$mdi-disqus: "\F1D2";
$mdi-disqus-outline: "\F1D3";
$mdi-division: "\F1D4";
$mdi-division-box: "\F1D5";
$mdi-dns: "\F1D6";
$mdi-domain: "\F1D7";
$mdi-dots-horizontal: "\F1D8";
$mdi-dots-vertical: "\F1D9";
$mdi-download: "\F1DA";
$mdi-drag: "\F1DB";
$mdi-drag-horizontal: "\F1DC";
$mdi-drag-vertical: "\F1DD";
$mdi-drawing: "\F1DE";
$mdi-drawing-box: "\F1DF";
$mdi-dribbble: "\F1E0";
$mdi-dribbble-box: "\F1E1";
$mdi-drone: "\F1E2";
$mdi-dropbox: "\F1E3";
$mdi-drupal: "\F1E4";
$mdi-duck: "\F1E5";
$mdi-dumbbell: "\F1E6";
$mdi-earth: "\F1E7";
$mdi-earth-off: "\F1E8";
$mdi-edge: "\F1E9";
$mdi-eject: "\F1EA";
$mdi-elevation-decline: "\F1EB";
$mdi-elevation-rise: "\F1EC";
$mdi-elevator: "\F1ED";
$mdi-email: "\F1EE";
$mdi-email-open: "\F1EF";
$mdi-email-open-outline: "\F5EF";
$mdi-email-outline: "\F1F0";
$mdi-email-secure: "\F1F1";
$mdi-email-variant: "\F5F0";
$mdi-emoticon: "\F1F2";
$mdi-emoticon-cool: "\F1F3";
$mdi-emoticon-devil: "\F1F4";
$mdi-emoticon-happy: "\F1F5";
$mdi-emoticon-neutral: "\F1F6";
$mdi-emoticon-poop: "\F1F7";
$mdi-emoticon-sad: "\F1F8";
$mdi-emoticon-tongue: "\F1F9";
$mdi-engine: "\F1FA";
$mdi-engine-outline: "\F1FB";
$mdi-equal: "\F1FC";
$mdi-equal-box: "\F1FD";
$mdi-eraser: "\F1FE";
$mdi-escalator: "\F1FF";
$mdi-ethernet: "\F200";
$mdi-ethernet-cable: "\F201";
$mdi-ethernet-cable-off: "\F202";
$mdi-etsy: "\F203";
$mdi-ev-station: "\F5F1";
$mdi-evernote: "\F204";
$mdi-exclamation: "\F205";
$mdi-exit-to-app: "\F206";
$mdi-export: "\F207";
$mdi-eye: "\F208";
$mdi-eye-off: "\F209";
$mdi-eyedropper: "\F20A";
$mdi-eyedropper-variant: "\F20B";
$mdi-facebook: "\F20C";
$mdi-facebook-box: "\F20D";
$mdi-facebook-messenger: "\F20E";
$mdi-factory: "\F20F";
$mdi-fan: "\F210";
$mdi-fast-forward: "\F211";
$mdi-fax: "\F212";
$mdi-ferry: "\F213";
$mdi-file: "\F214";
$mdi-file-chart: "\F215";
$mdi-file-check: "\F216";
$mdi-file-cloud: "\F217";
$mdi-file-delimited: "\F218";
$mdi-file-document: "\F219";
$mdi-file-document-box: "\F21A";
$mdi-file-excel: "\F21B";
$mdi-file-excel-box: "\F21C";
$mdi-file-export: "\F21D";
$mdi-file-find: "\F21E";
$mdi-file-hidden: "\F613";
$mdi-file-image: "\F21F";
$mdi-file-import: "\F220";
$mdi-file-lock: "\F221";
$mdi-file-multiple: "\F222";
$mdi-file-music: "\F223";
$mdi-file-outline: "\F224";
$mdi-file-pdf: "\F225";
$mdi-file-pdf-box: "\F226";
$mdi-file-powerpoint: "\F227";
$mdi-file-powerpoint-box: "\F228";
$mdi-file-presentation-box: "\F229";
$mdi-file-send: "\F22A";
$mdi-file-video: "\F22B";
$mdi-file-word: "\F22C";
$mdi-file-word-box: "\F22D";
$mdi-file-xml: "\F22E";
$mdi-film: "\F22F";
$mdi-filmstrip: "\F230";
$mdi-filmstrip-off: "\F231";
$mdi-filter: "\F232";
$mdi-filter-outline: "\F233";
$mdi-filter-remove: "\F234";
$mdi-filter-remove-outline: "\F235";
$mdi-filter-variant: "\F236";
$mdi-fingerprint: "\F237";
$mdi-fire: "\F238";
$mdi-firefox: "\F239";
$mdi-fish: "\F23A";
$mdi-flag: "\F23B";
$mdi-flag-checkered: "\F23C";
$mdi-flag-outline: "\F23D";
$mdi-flag-outline-variant: "\F23E";
$mdi-flag-triangle: "\F23F";
$mdi-flag-variant: "\F240";
$mdi-flash: "\F241";
$mdi-flash-auto: "\F242";
$mdi-flash-off: "\F243";
$mdi-flashlight: "\F244";
$mdi-flashlight-off: "\F245";
$mdi-flask: "\F093";
$mdi-flask-empty: "\F094";
$mdi-flask-empty-outline: "\F095";
$mdi-flask-outline: "\F096";
$mdi-flattr: "\F246";
$mdi-flip-to-back: "\F247";
$mdi-flip-to-front: "\F248";
$mdi-floppy: "\F249";
$mdi-flower: "\F24A";
$mdi-folder: "\F24B";
$mdi-folder-account: "\F24C";
$mdi-folder-download: "\F24D";
$mdi-folder-google-drive: "\F24E";
$mdi-folder-image: "\F24F";
$mdi-folder-lock: "\F250";
$mdi-folder-lock-open: "\F251";
$mdi-folder-move: "\F252";
$mdi-folder-multiple: "\F253";
$mdi-folder-multiple-image: "\F254";
$mdi-folder-multiple-outline: "\F255";
$mdi-folder-outline: "\F256";
$mdi-folder-plus: "\F257";
$mdi-folder-remove: "\F258";
$mdi-folder-upload: "\F259";
$mdi-food: "\F25A";
$mdi-food-apple: "\F25B";
$mdi-food-fork-drink: "\F5F2";
$mdi-food-off: "\F5F3";
$mdi-food-variant: "\F25C";
$mdi-football: "\F25D";
$mdi-football-australian: "\F25E";
$mdi-football-helmet: "\F25F";
$mdi-format-align-center: "\F260";
$mdi-format-align-justify: "\F261";
$mdi-format-align-left: "\F262";
$mdi-format-align-right: "\F263";
$mdi-format-bold: "\F264";
$mdi-format-clear: "\F265";
$mdi-format-color-fill: "\F266";
$mdi-format-float-center: "\F267";
$mdi-format-float-left: "\F268";
$mdi-format-float-none: "\F269";
$mdi-format-float-right: "\F26A";
$mdi-format-header-1: "\F26B";
$mdi-format-header-2: "\F26C";
$mdi-format-header-3: "\F26D";
$mdi-format-header-4: "\F26E";
$mdi-format-header-5: "\F26F";
$mdi-format-header-6: "\F270";
$mdi-format-header-decrease: "\F271";
$mdi-format-header-equal: "\F272";
$mdi-format-header-increase: "\F273";
$mdi-format-header-pound: "\F274";
$mdi-format-indent-decrease: "\F275";
$mdi-format-indent-increase: "\F276";
$mdi-format-italic: "\F277";
$mdi-format-line-spacing: "\F278";
$mdi-format-line-style: "\F5C8";
$mdi-format-line-weight: "\F5C9";
$mdi-format-list-bulleted: "\F279";
$mdi-format-list-bulleted-type: "\F27A";
$mdi-format-list-numbers: "\F27B";
$mdi-format-paint: "\F27C";
$mdi-format-paragraph: "\F27D";
$mdi-format-quote: "\F27E";
$mdi-format-size: "\F27F";
$mdi-format-strikethrough: "\F280";
$mdi-format-strikethrough-variant: "\F281";
$mdi-format-subscript: "\F282";
$mdi-format-superscript: "\F283";
$mdi-format-text: "\F284";
$mdi-format-textdirection-l-to-r: "\F285";
$mdi-format-textdirection-r-to-l: "\F286";
$mdi-format-title: "\F5F4";
$mdi-format-underline: "\F287";
$mdi-format-wrap-inline: "\F288";
$mdi-format-wrap-square: "\F289";
$mdi-format-wrap-tight: "\F28A";
$mdi-format-wrap-top-bottom: "\F28B";
$mdi-forum: "\F28C";
$mdi-forward: "\F28D";
$mdi-foursquare: "\F28E";
$mdi-fridge: "\F28F";
$mdi-fridge-filled: "\F290";
$mdi-fridge-filled-bottom: "\F291";
$mdi-fridge-filled-top: "\F292";
$mdi-fullscreen: "\F293";
$mdi-fullscreen-exit: "\F294";
$mdi-function: "\F295";
$mdi-gamepad: "\F296";
$mdi-gamepad-variant: "\F297";
$mdi-gas-station: "\F298";
$mdi-gate: "\F299";
$mdi-gauge: "\F29A";
$mdi-gavel: "\F29B";
$mdi-gender-female: "\F29C";
$mdi-gender-male: "\F29D";
$mdi-gender-male-female: "\F29E";
$mdi-gender-transgender: "\F29F";
$mdi-ghost: "\F2A0";
$mdi-gift: "\F2A1";
$mdi-git: "\F2A2";
$mdi-github-box: "\F2A3";
$mdi-github-circle: "\F2A4";
$mdi-glass-flute: "\F2A5";
$mdi-glass-mug: "\F2A6";
$mdi-glass-stange: "\F2A7";
$mdi-glass-tulip: "\F2A8";
$mdi-glassdoor: "\F2A9";
$mdi-glasses: "\F2AA";
$mdi-gmail: "\F2AB";
$mdi-gnome: "\F2AC";
$mdi-google: "\F2AD";
$mdi-google-cardboard: "\F2AE";
$mdi-google-chrome: "\F2AF";
$mdi-google-circles: "\F2B0";
$mdi-google-circles-communities: "\F2B1";
$mdi-google-circles-extended: "\F2B2";
$mdi-google-circles-group: "\F2B3";
$mdi-google-controller: "\F2B4";
$mdi-google-controller-off: "\F2B5";
$mdi-google-drive: "\F2B6";
$mdi-google-earth: "\F2B7";
$mdi-google-glass: "\F2B8";
$mdi-google-maps: "\F5F5";
$mdi-google-nearby: "\F2B9";
$mdi-google-pages: "\F2BA";
$mdi-google-physical-web: "\F2BB";
$mdi-google-play: "\F2BC";
$mdi-google-plus: "\F2BD";
$mdi-google-plus-box: "\F2BE";
$mdi-google-translate: "\F2BF";
$mdi-google-wallet: "\F2C0";
$mdi-grid: "\F2C1";
$mdi-grid-off: "\F2C2";
$mdi-group: "\F2C3";
$mdi-guitar-electric: "\F2C4";
$mdi-guitar-pick: "\F2C5";
$mdi-guitar-pick-outline: "\F2C6";
$mdi-hand-pointing-right: "\F2C7";
$mdi-hanger: "\F2C8";
$mdi-hangouts: "\F2C9";
$mdi-harddisk: "\F2CA";
$mdi-headphones: "\F2CB";
$mdi-headphones-box: "\F2CC";
$mdi-headphones-settings: "\F2CD";
$mdi-headset: "\F2CE";
$mdi-headset-dock: "\F2CF";
$mdi-headset-off: "\F2D0";
$mdi-heart: "\F2D1";
$mdi-heart-box: "\F2D2";
$mdi-heart-box-outline: "\F2D3";
$mdi-heart-broken: "\F2D4";
$mdi-heart-outline: "\F2D5";
$mdi-heart-pulse: "\F5F6";
$mdi-help: "\F2D6";
$mdi-help-circle: "\F2D7";
$mdi-hexagon: "\F2D8";
$mdi-hexagon-outline: "\F2D9";
$mdi-highway: "\F5F7";
$mdi-history: "\F2DA";
$mdi-hololens: "\F2DB";
$mdi-home: "\F2DC";
$mdi-home-map-marker: "\F5F8";
$mdi-home-modern: "\F2DD";
$mdi-home-variant: "\F2DE";
$mdi-hops: "\F2DF";
$mdi-hospital: "\F2E0";
$mdi-hospital-building: "\F2E1";
$mdi-hospital-marker: "\F2E2";
$mdi-hotel: "\F2E3";
$mdi-houzz: "\F2E4";
$mdi-houzz-box: "\F2E5";
$mdi-human: "\F2E6";
$mdi-human-child: "\F2E7";
$mdi-human-male-female: "\F2E8";
$mdi-human-pregnant: "\F5CF";
$mdi-image: "\F2E9";
$mdi-image-album: "\F2EA";
$mdi-image-area: "\F2EB";
$mdi-image-area-close: "\F2EC";
$mdi-image-broken: "\F2ED";
$mdi-image-broken-variant: "\F2EE";
$mdi-image-filter: "\F2EF";
$mdi-image-filter-black-white: "\F2F0";
$mdi-image-filter-center-focus: "\F2F1";
$mdi-image-filter-center-focus-weak: "\F2F2";
$mdi-image-filter-drama: "\F2F3";
$mdi-image-filter-frames: "\F2F4";
$mdi-image-filter-hdr: "\F2F5";
$mdi-image-filter-none: "\F2F6";
$mdi-image-filter-tilt-shift: "\F2F7";
$mdi-image-filter-vintage: "\F2F8";
$mdi-image-multiple: "\F2F9";
$mdi-import: "\F2FA";
$mdi-inbox: "\F2FB";
$mdi-incognito: "\F5F9";
$mdi-information: "\F2FC";
$mdi-information-outline: "\F2FD";
$mdi-instagram: "\F2FE";
$mdi-instapaper: "\F2FF";
$mdi-internet-explorer: "\F300";
$mdi-invert-colors: "\F301";
$mdi-jeepney: "\F302";
$mdi-jira: "\F303";
$mdi-jsfiddle: "\F304";
$mdi-keg: "\F305";
$mdi-kettle: "\F5FA";
$mdi-key: "\F306";
$mdi-key-change: "\F307";
$mdi-key-minus: "\F308";
$mdi-key-plus: "\F309";
$mdi-key-remove: "\F30A";
$mdi-key-variant: "\F30B";
$mdi-keyboard: "\F30C";
$mdi-keyboard-backspace: "\F30D";
$mdi-keyboard-caps: "\F30E";
$mdi-keyboard-close: "\F30F";
$mdi-keyboard-off: "\F310";
$mdi-keyboard-return: "\F311";
$mdi-keyboard-tab: "\F312";
$mdi-keyboard-variant: "\F313";
$mdi-kodi: "\F314";
$mdi-label: "\F315";
$mdi-label-outline: "\F316";
$mdi-lan: "\F317";
$mdi-lan-connect: "\F318";
$mdi-lan-disconnect: "\F319";
$mdi-lan-pending: "\F31A";
$mdi-language-csharp: "\F31B";
$mdi-language-css3: "\F31C";
$mdi-language-html5: "\F31D";
$mdi-language-javascript: "\F31E";
$mdi-language-php: "\F31F";
$mdi-language-python: "\F320";
$mdi-language-python-text: "\F321";
$mdi-laptop: "\F322";
$mdi-laptop-chromebook: "\F323";
$mdi-laptop-mac: "\F324";
$mdi-laptop-windows: "\F325";
$mdi-lastfm: "\F326";
$mdi-launch: "\F327";
$mdi-layers: "\F328";
$mdi-layers-off: "\F329";
$mdi-leaf: "\F32A";
$mdi-led-off: "\F32B";
$mdi-led-on: "\F32C";
$mdi-led-outline: "\F32D";
$mdi-led-variant-off: "\F32E";
$mdi-led-variant-on: "\F32F";
$mdi-led-variant-outline: "\F330";
$mdi-library: "\F331";
$mdi-library-books: "\F332";
$mdi-library-music: "\F333";
$mdi-library-plus: "\F334";
$mdi-lightbulb: "\F335";
$mdi-lightbulb-outline: "\F336";
$mdi-link: "\F337";
$mdi-link-off: "\F338";
$mdi-link-variant: "\F339";
$mdi-link-variant-off: "\F33A";
$mdi-linkedin: "\F33B";
$mdi-linkedin-box: "\F33C";
$mdi-linux: "\F33D";
$mdi-lock: "\F33E";
$mdi-lock-open: "\F33F";
$mdi-lock-open-outline: "\F340";
$mdi-lock-outline: "\F341";
$mdi-lock-plus: "\F5FB";
$mdi-login: "\F342";
$mdi-login-variant: "\F5FC";
$mdi-logout: "\F343";
$mdi-logout-variant: "\F5FD";
$mdi-looks: "\F344";
$mdi-loupe: "\F345";
$mdi-lumx: "\F346";
$mdi-magnet: "\F347";
$mdi-magnet-on: "\F348";
$mdi-magnify: "\F349";
$mdi-magnify-minus: "\F34A";
$mdi-magnify-plus: "\F34B";
$mdi-mail-ru: "\F34C";
$mdi-map: "\F34D";
$mdi-map-marker: "\F34E";
$mdi-map-marker-circle: "\F34F";
$mdi-map-marker-multiple: "\F350";
$mdi-map-marker-off: "\F351";
$mdi-map-marker-radius: "\F352";
$mdi-margin: "\F353";
$mdi-markdown: "\F354";
$mdi-marker-check: "\F355";
$mdi-martini: "\F356";
$mdi-material-ui: "\F357";
$mdi-math-compass: "\F358";
$mdi-maxcdn: "\F359";
$mdi-medium: "\F35A";
$mdi-memory: "\F35B";
$mdi-menu: "\F35C";
$mdi-menu-down: "\F35D";
$mdi-menu-left: "\F35E";
$mdi-menu-right: "\F35F";
$mdi-menu-up: "\F360";
$mdi-message: "\F361";
$mdi-message-alert: "\F362";
$mdi-message-draw: "\F363";
$mdi-message-image: "\F364";
$mdi-message-outline: "\F365";
$mdi-message-processing: "\F366";
$mdi-message-reply: "\F367";
$mdi-message-reply-text: "\F368";
$mdi-message-text: "\F369";
$mdi-message-text-outline: "\F36A";
$mdi-message-video: "\F36B";
$mdi-microphone: "\F36C";
$mdi-microphone-off: "\F36D";
$mdi-microphone-outline: "\F36E";
$mdi-microphone-settings: "\F36F";
$mdi-microphone-variant: "\F370";
$mdi-microphone-variant-off: "\F371";
$mdi-microsoft: "\F372";
$mdi-minecraft: "\F373";
$mdi-minus: "\F374";
$mdi-minus-box: "\F375";
$mdi-minus-circle: "\F376";
$mdi-minus-circle-outline: "\F377";
$mdi-minus-network: "\F378";
$mdi-monitor: "\F379";
$mdi-monitor-multiple: "\F37A";
$mdi-more: "\F37B";
$mdi-motorbike: "\F37C";
$mdi-mouse: "\F37D";
$mdi-mouse-off: "\F37E";
$mdi-mouse-variant: "\F37F";
$mdi-mouse-variant-off: "\F380";
$mdi-movie: "\F381";
$mdi-multiplication: "\F382";
$mdi-multiplication-box: "\F383";
$mdi-music-box: "\F384";
$mdi-music-box-outline: "\F385";
$mdi-music-circle: "\F386";
$mdi-music-note: "\F387";
$mdi-music-note-bluetooth: "\F5FE";
$mdi-music-note-bluetooth-off: "\F5FF";
$mdi-music-note-eighth: "\F388";
$mdi-music-note-half: "\F389";
$mdi-music-note-off: "\F38A";
$mdi-music-note-quarter: "\F38B";
$mdi-music-note-sixteenth: "\F38C";
$mdi-music-note-whole: "\F38D";
$mdi-nature: "\F38E";
$mdi-nature-people: "\F38F";
$mdi-navigation: "\F390";
$mdi-near-me: "\F5CD";
$mdi-needle: "\F391";
$mdi-nest-protect: "\F392";
$mdi-nest-thermostat: "\F393";
$mdi-new-box: "\F394";
$mdi-newspaper: "\F395";
$mdi-nfc: "\F396";
$mdi-nfc-tap: "\F397";
$mdi-nfc-variant: "\F398";
$mdi-nodejs: "\F399";
$mdi-note: "\F39A";
$mdi-note-outline: "\F39B";
$mdi-note-plus: "\F39C";
$mdi-note-plus-outline: "\F39D";
$mdi-note-text: "\F39E";
$mdi-notification-clear-all: "\F39F";
$mdi-numeric: "\F3A0";
$mdi-numeric-0-box: "\F3A1";
$mdi-numeric-0-box-multiple-outline: "\F3A2";
$mdi-numeric-0-box-outline: "\F3A3";
$mdi-numeric-1-box: "\F3A4";
$mdi-numeric-1-box-multiple-outline: "\F3A5";
$mdi-numeric-1-box-outline: "\F3A6";
$mdi-numeric-2-box: "\F3A7";
$mdi-numeric-2-box-multiple-outline: "\F3A8";
$mdi-numeric-2-box-outline: "\F3A9";
$mdi-numeric-3-box: "\F3AA";
$mdi-numeric-3-box-multiple-outline: "\F3AB";
$mdi-numeric-3-box-outline: "\F3AC";
$mdi-numeric-4-box: "\F3AD";
$mdi-numeric-4-box-multiple-outline: "\F3AE";
$mdi-numeric-4-box-outline: "\F3AF";
$mdi-numeric-5-box: "\F3B0";
$mdi-numeric-5-box-multiple-outline: "\F3B1";
$mdi-numeric-5-box-outline: "\F3B2";
$mdi-numeric-6-box: "\F3B3";
$mdi-numeric-6-box-multiple-outline: "\F3B4";
$mdi-numeric-6-box-outline: "\F3B5";
$mdi-numeric-7-box: "\F3B6";
$mdi-numeric-7-box-multiple-outline: "\F3B7";
$mdi-numeric-7-box-outline: "\F3B8";
$mdi-numeric-8-box: "\F3B9";
$mdi-numeric-8-box-multiple-outline: "\F3BA";
$mdi-numeric-8-box-outline: "\F3BB";
$mdi-numeric-9-box: "\F3BC";
$mdi-numeric-9-box-multiple-outline: "\F3BD";
$mdi-numeric-9-box-outline: "\F3BE";
$mdi-numeric-9-plus-box: "\F3BF";
$mdi-numeric-9-plus-box-multiple-outline: "\F3C0";
$mdi-numeric-9-plus-box-outline: "\F3C1";
$mdi-nutrition: "\F3C2";
$mdi-octagon: "\F3C3";
$mdi-octagon-outline: "\F3C4";
$mdi-odnoklassniki: "\F3C5";
$mdi-office: "\F3C6";
$mdi-oil: "\F3C7";
$mdi-oil-temperature: "\F3C8";
$mdi-omega: "\F3C9";
$mdi-onedrive: "\F3CA";
$mdi-opacity: "\F5CC";
$mdi-open-in-app: "\F3CB";
$mdi-open-in-new: "\F3CC";
$mdi-openid: "\F3CD";
$mdi-opera: "\F3CE";
$mdi-ornament: "\F3CF";
$mdi-ornament-variant: "\F3D0";
$mdi-outbox: "\F3D1";
$mdi-owl: "\F3D2";
$mdi-package: "\F3D3";
$mdi-package-down: "\F3D4";
$mdi-package-up: "\F3D5";
$mdi-package-variant: "\F3D6";
$mdi-package-variant-closed: "\F3D7";
$mdi-page-first: "\F600";
$mdi-page-last: "\F601";
$mdi-palette: "\F3D8";
$mdi-palette-advanced: "\F3D9";
$mdi-panda: "\F3DA";
$mdi-pandora: "\F3DB";
$mdi-panorama: "\F3DC";
$mdi-panorama-fisheye: "\F3DD";
$mdi-panorama-horizontal: "\F3DE";
$mdi-panorama-vertical: "\F3DF";
$mdi-panorama-wide-angle: "\F3E0";
$mdi-paper-cut-vertical: "\F3E1";
$mdi-paperclip: "\F3E2";
$mdi-parking: "\F3E3";
$mdi-pause: "\F3E4";
$mdi-pause-circle: "\F3E5";
$mdi-pause-circle-outline: "\F3E6";
$mdi-pause-octagon: "\F3E7";
$mdi-pause-octagon-outline: "\F3E8";
$mdi-paw: "\F3E9";
$mdi-pen: "\F3EA";
$mdi-pencil: "\F3EB";
$mdi-pencil-box: "\F3EC";
$mdi-pencil-box-outline: "\F3ED";
$mdi-pencil-lock: "\F3EE";
$mdi-pencil-off: "\F3EF";
$mdi-percent: "\F3F0";
$mdi-pharmacy: "\F3F1";
$mdi-phone: "\F3F2";
$mdi-phone-bluetooth: "\F3F3";
$mdi-phone-classic: "\F602";
$mdi-phone-forward: "\F3F4";
$mdi-phone-hangup: "\F3F5";
$mdi-phone-in-talk: "\F3F6";
$mdi-phone-incoming: "\F3F7";
$mdi-phone-locked: "\F3F8";
$mdi-phone-log: "\F3F9";
$mdi-phone-missed: "\F3FA";
$mdi-phone-outgoing: "\F3FB";
$mdi-phone-paused: "\F3FC";
$mdi-phone-settings: "\F3FD";
$mdi-phone-voip: "\F3FE";
$mdi-pi: "\F3FF";
$mdi-pi-box: "\F400";
$mdi-pig: "\F401";
$mdi-pill: "\F402";
$mdi-pin: "\F403";
$mdi-pin-off: "\F404";
$mdi-pine-tree: "\F405";
$mdi-pine-tree-box: "\F406";
$mdi-pinterest: "\F407";
$mdi-pinterest-box: "\F408";
$mdi-pizza: "\F409";
$mdi-play: "\F40A";
$mdi-play-box-outline: "\F40B";
$mdi-play-circle: "\F40C";
$mdi-play-circle-outline: "\F40D";
$mdi-play-pause: "\F40E";
$mdi-play-protected-content: "\F40F";
$mdi-playlist-check: "\F5C7";
$mdi-playlist-minus: "\F410";
$mdi-playlist-play: "\F411";
$mdi-playlist-plus: "\F412";
$mdi-playlist-remove: "\F413";
$mdi-playstation: "\F414";
$mdi-plus: "\F415";
$mdi-plus-box: "\F416";
$mdi-plus-circle: "\F417";
$mdi-plus-circle-multiple-outline: "\F418";
$mdi-plus-circle-outline: "\F419";
$mdi-plus-network: "\F41A";
$mdi-plus-one: "\F41B";
$mdi-pocket: "\F41C";
$mdi-pokeball: "\F41D";
$mdi-polaroid: "\F41E";
$mdi-poll: "\F41F";
$mdi-poll-box: "\F420";
$mdi-polymer: "\F421";
$mdi-pool: "\F606";
$mdi-popcorn: "\F422";
$mdi-pound: "\F423";
$mdi-pound-box: "\F424";
$mdi-power: "\F425";
$mdi-power-settings: "\F426";
$mdi-power-socket: "\F427";
$mdi-presentation: "\F428";
$mdi-presentation-play: "\F429";
$mdi-printer: "\F42A";
$mdi-printer-3d: "\F42B";
$mdi-printer-alert: "\F42C";
$mdi-priority-high: "\F603";
$mdi-priority-low: "\F604";
$mdi-professional-hexagon: "\F42D";
$mdi-projector: "\F42E";
$mdi-projector-screen: "\F42F";
$mdi-pulse: "\F430";
$mdi-puzzle: "\F431";
$mdi-qqchat: "\F605";
$mdi-qrcode: "\F432";
$mdi-qrcode-scan: "\F433";
$mdi-quadcopter: "\F434";
$mdi-quality-high: "\F435";
$mdi-quicktime: "\F436";
$mdi-radar: "\F437";
$mdi-radiator: "\F438";
$mdi-radio: "\F439";
$mdi-radio-handheld: "\F43A";
$mdi-radio-tower: "\F43B";
$mdi-radioactive: "\F43C";
$mdi-radiobox-blank: "\F43D";
$mdi-radiobox-marked: "\F43E";
$mdi-raspberrypi: "\F43F";
$mdi-ray-end: "\F440";
$mdi-ray-end-arrow: "\F441";
$mdi-ray-start: "\F442";
$mdi-ray-start-arrow: "\F443";
$mdi-ray-start-end: "\F444";
$mdi-ray-vertex: "\F445";
$mdi-rdio: "\F446";
$mdi-read: "\F447";
$mdi-readability: "\F448";
$mdi-receipt: "\F449";
$mdi-record: "\F44A";
$mdi-record-rec: "\F44B";
$mdi-recycle: "\F44C";
$mdi-reddit: "\F44D";
$mdi-redo: "\F44E";
$mdi-redo-variant: "\F44F";
$mdi-refresh: "\F450";
$mdi-regex: "\F451";
$mdi-relative-scale: "\F452";
$mdi-reload: "\F453";
$mdi-remote: "\F454";
$mdi-rename-box: "\F455";
$mdi-repeat: "\F456";
$mdi-repeat-off: "\F457";
$mdi-repeat-once: "\F458";
$mdi-replay: "\F459";
$mdi-reply: "\F45A";
$mdi-reply-all: "\F45B";
$mdi-reproduction: "\F45C";
$mdi-resize-bottom-right: "\F45D";
$mdi-responsive: "\F45E";
$mdi-rewind: "\F45F";
$mdi-ribbon: "\F460";
$mdi-road: "\F461";
$mdi-road-variant: "\F462";
$mdi-rocket: "\F463";
$mdi-rotate-3d: "\F464";
$mdi-rotate-left: "\F465";
$mdi-rotate-left-variant: "\F466";
$mdi-rotate-right: "\F467";
$mdi-rotate-right-variant: "\F468";
$mdi-rounded-corner: "\F607";
$mdi-router-wireless: "\F469";
$mdi-routes: "\F46A";
$mdi-rowing: "\F608";
$mdi-rss: "\F46B";
$mdi-rss-box: "\F46C";
$mdi-ruler: "\F46D";
$mdi-run: "\F46E";
$mdi-sale: "\F46F";
$mdi-satellite: "\F470";
$mdi-satellite-variant: "\F471";
$mdi-saxophone: "\F609";
$mdi-scale: "\F472";
$mdi-scale-balance: "\F5D1";
$mdi-scale-bathroom: "\F473";
$mdi-school: "\F474";
$mdi-screen-rotation: "\F475";
$mdi-screen-rotation-lock: "\F476";
$mdi-screwdriver: "\F477";
$mdi-script: "\F478";
$mdi-sd: "\F479";
$mdi-seal: "\F47A";
$mdi-seat-flat: "\F47B";
$mdi-seat-flat-angled: "\F47C";
$mdi-seat-individual-suite: "\F47D";
$mdi-seat-legroom-extra: "\F47E";
$mdi-seat-legroom-normal: "\F47F";
$mdi-seat-legroom-reduced: "\F480";
$mdi-seat-recline-extra: "\F481";
$mdi-seat-recline-normal: "\F482";
$mdi-security: "\F483";
$mdi-security-network: "\F484";
$mdi-select: "\F485";
$mdi-select-all: "\F486";
$mdi-select-inverse: "\F487";
$mdi-select-off: "\F488";
$mdi-selection: "\F489";
$mdi-send: "\F48A";
$mdi-server: "\F48B";
$mdi-server-minus: "\F48C";
$mdi-server-network: "\F48D";
$mdi-server-network-off: "\F48E";
$mdi-server-off: "\F48F";
$mdi-server-plus: "\F490";
$mdi-server-remove: "\F491";
$mdi-server-security: "\F492";
$mdi-settings: "\F493";
$mdi-settings-box: "\F494";
$mdi-shape-plus: "\F495";
$mdi-share: "\F496";
$mdi-share-variant: "\F497";
$mdi-shield: "\F498";
$mdi-shield-outline: "\F499";
$mdi-shopping: "\F49A";
$mdi-shopping-music: "\F49B";
$mdi-shredder: "\F49C";
$mdi-shuffle: "\F49D";
$mdi-shuffle-disabled: "\F49E";
$mdi-shuffle-variant: "\F49F";
$mdi-sigma: "\F4A0";
$mdi-sign-caution: "\F4A1";
$mdi-signal: "\F4A2";
$mdi-signal-variant: "\F60A";
$mdi-silverware: "\F4A3";
$mdi-silverware-fork: "\F4A4";
$mdi-silverware-spoon: "\F4A5";
$mdi-silverware-variant: "\F4A6";
$mdi-sim: "\F4A7";
$mdi-sim-alert: "\F4A8";
$mdi-sim-off: "\F4A9";
$mdi-sitemap: "\F4AA";
$mdi-skip-backward: "\F4AB";
$mdi-skip-forward: "\F4AC";
$mdi-skip-next: "\F4AD";
$mdi-skip-previous: "\F4AE";
$mdi-skype: "\F4AF";
$mdi-skype-business: "\F4B0";
$mdi-slack: "\F4B1";
$mdi-sleep: "\F4B2";
$mdi-sleep-off: "\F4B3";
$mdi-smoking: "\F4B4";
$mdi-smoking-off: "\F4B5";
$mdi-snapchat: "\F4B6";
$mdi-snowman: "\F4B7";
$mdi-soccer: "\F4B8";
$mdi-sofa: "\F4B9";
$mdi-sort: "\F4BA";
$mdi-sort-alphabetical: "\F4BB";
$mdi-sort-ascending: "\F4BC";
$mdi-sort-descending: "\F4BD";
$mdi-sort-numeric: "\F4BE";
$mdi-sort-variant: "\F4BF";
$mdi-soundcloud: "\F4C0";
$mdi-source-fork: "\F4C1";
$mdi-source-pull: "\F4C2";
$mdi-speaker: "\F4C3";
$mdi-speaker-off: "\F4C4";
$mdi-speedometer: "\F4C5";
$mdi-spellcheck: "\F4C6";
$mdi-spotify: "\F4C7";
$mdi-spotlight: "\F4C8";
$mdi-spotlight-beam: "\F4C9";
$mdi-square-inc: "\F4CA";
$mdi-square-inc-cash: "\F4CB";
$mdi-stackexchange: "\F60B";
$mdi-stackoverflow: "\F4CC";
$mdi-stairs: "\F4CD";
$mdi-star: "\F4CE";
$mdi-star-circle: "\F4CF";
$mdi-star-half: "\F4D0";
$mdi-star-off: "\F4D1";
$mdi-star-outline: "\F4D2";
$mdi-steam: "\F4D3";
$mdi-steering: "\F4D4";
$mdi-step-backward: "\F4D5";
$mdi-step-backward-2: "\F4D6";
$mdi-step-forward: "\F4D7";
$mdi-step-forward-2: "\F4D8";
$mdi-stethoscope: "\F4D9";
$mdi-sticker: "\F5D0";
$mdi-stocking: "\F4DA";
$mdi-stop: "\F4DB";
$mdi-store: "\F4DC";
$mdi-store-24-hour: "\F4DD";
$mdi-stove: "\F4DE";
$mdi-subdirectory-arrow-left: "\F60C";
$mdi-subdirectory-arrow-right: "\F60D";
$mdi-subway: "\F4DF";
$mdi-sunglasses: "\F4E0";
$mdi-surround-sound: "\F5C5";
$mdi-swap-horizontal: "\F4E1";
$mdi-swap-vertical: "\F4E2";
$mdi-swim: "\F4E3";
$mdi-switch: "\F4E4";
$mdi-sword: "\F4E5";
$mdi-sync: "\F4E6";
$mdi-sync-alert: "\F4E7";
$mdi-sync-off: "\F4E8";
$mdi-tab: "\F4E9";
$mdi-tab-unselected: "\F4EA";
$mdi-table: "\F4EB";
$mdi-table-column-plus-after: "\F4EC";
$mdi-table-column-plus-before: "\F4ED";
$mdi-table-column-remove: "\F4EE";
$mdi-table-column-width: "\F4EF";
$mdi-table-edit: "\F4F0";
$mdi-table-large: "\F4F1";
$mdi-table-row-height: "\F4F2";
$mdi-table-row-plus-after: "\F4F3";
$mdi-table-row-plus-before: "\F4F4";
$mdi-table-row-remove: "\F4F5";
$mdi-tablet: "\F4F6";
$mdi-tablet-android: "\F4F7";
$mdi-tablet-ipad: "\F4F8";
$mdi-tag: "\F4F9";
$mdi-tag-faces: "\F4FA";
$mdi-tag-multiple: "\F4FB";
$mdi-tag-outline: "\F4FC";
$mdi-tag-text-outline: "\F4FD";
$mdi-target: "\F4FE";
$mdi-taxi: "\F4FF";
$mdi-teamviewer: "\F500";
$mdi-telegram: "\F501";
$mdi-television: "\F502";
$mdi-television-guide: "\F503";
$mdi-temperature-celsius: "\F504";
$mdi-temperature-fahrenheit: "\F505";
$mdi-temperature-kelvin: "\F506";
$mdi-tennis: "\F507";
$mdi-tent: "\F508";
$mdi-terrain: "\F509";
$mdi-text-to-speech: "\F50A";
$mdi-text-to-speech-off: "\F50B";
$mdi-textbox: "\F60E";
$mdi-texture: "\F50C";
$mdi-theater: "\F50D";
$mdi-theme-light-dark: "\F50E";
$mdi-thermometer: "\F50F";
$mdi-thermometer-lines: "\F510";
$mdi-thumb-down: "\F511";
$mdi-thumb-down-outline: "\F512";
$mdi-thumb-up: "\F513";
$mdi-thumb-up-outline: "\F514";
$mdi-thumbs-up-down: "\F515";
$mdi-ticket: "\F516";
$mdi-ticket-account: "\F517";
$mdi-ticket-confirmation: "\F518";
$mdi-tie: "\F519";
$mdi-timelapse: "\F51A";
$mdi-timer: "\F51B";
$mdi-timer-10: "\F51C";
$mdi-timer-3: "\F51D";
$mdi-timer-off: "\F51E";
$mdi-timer-sand: "\F51F";
$mdi-timetable: "\F520";
$mdi-toggle-switch: "\F521";
$mdi-toggle-switch-off: "\F522";
$mdi-tooltip: "\F523";
$mdi-tooltip-edit: "\F524";
$mdi-tooltip-image: "\F525";
$mdi-tooltip-outline: "\F526";
$mdi-tooltip-outline-plus: "\F527";
$mdi-tooltip-text: "\F528";
$mdi-tooth: "\F529";
$mdi-tor: "\F52A";
$mdi-traffic-light: "\F52B";
$mdi-train: "\F52C";
$mdi-tram: "\F52D";
$mdi-transcribe: "\F52E";
$mdi-transcribe-close: "\F52F";
$mdi-transfer: "\F530";
$mdi-translate: "\F5CA";
$mdi-tree: "\F531";
$mdi-trello: "\F532";
$mdi-trending-down: "\F533";
$mdi-trending-neutral: "\F534";
$mdi-trending-up: "\F535";
$mdi-triangle: "\F536";
$mdi-triangle-outline: "\F537";
$mdi-trophy: "\F538";
$mdi-trophy-award: "\F539";
$mdi-trophy-outline: "\F53A";
$mdi-trophy-variant: "\F53B";
$mdi-trophy-variant-outline: "\F53C";
$mdi-truck: "\F53D";
$mdi-truck-delivery: "\F53E";
$mdi-tshirt-crew: "\F53F";
$mdi-tshirt-v: "\F540";
$mdi-tumblr: "\F541";
$mdi-tumblr-reblog: "\F542";
$mdi-twitch: "\F543";
$mdi-twitter: "\F544";
$mdi-twitter-box: "\F545";
$mdi-twitter-circle: "\F546";
$mdi-twitter-retweet: "\F547";
$mdi-ubuntu: "\F548";
$mdi-umbraco: "\F549";
$mdi-umbrella: "\F54A";
$mdi-umbrella-outline: "\F54B";
$mdi-undo: "\F54C";
$mdi-undo-variant: "\F54D";
$mdi-unfold-less: "\F54E";
$mdi-unfold-more: "\F54F";
$mdi-ungroup: "\F550";
$mdi-untappd: "\F551";
$mdi-upload: "\F552";
$mdi-usb: "\F553";
$mdi-vector-arrange-above: "\F554";
$mdi-vector-arrange-below: "\F555";
$mdi-vector-circle: "\F556";
$mdi-vector-circle-variant: "\F557";
$mdi-vector-combine: "\F558";
$mdi-vector-curve: "\F559";
$mdi-vector-difference: "\F55A";
$mdi-vector-difference-ab: "\F55B";
$mdi-vector-difference-ba: "\F55C";
$mdi-vector-intersection: "\F55D";
$mdi-vector-line: "\F55E";
$mdi-vector-point: "\F55F";
$mdi-vector-polygon: "\F560";
$mdi-vector-polyline: "\F561";
$mdi-vector-rectangle: "\F5C6";
$mdi-vector-selection: "\F562";
$mdi-vector-square: "\F001";
$mdi-vector-triangle: "\F563";
$mdi-vector-union: "\F564";
$mdi-verified: "\F565";
$mdi-vibrate: "\F566";
$mdi-video: "\F567";
$mdi-video-off: "\F568";
$mdi-video-switch: "\F569";
$mdi-view-agenda: "\F56A";
$mdi-view-array: "\F56B";
$mdi-view-carousel: "\F56C";
$mdi-view-column: "\F56D";
$mdi-view-dashboard: "\F56E";
$mdi-view-day: "\F56F";
$mdi-view-grid: "\F570";
$mdi-view-headline: "\F571";
$mdi-view-list: "\F572";
$mdi-view-module: "\F573";
$mdi-view-quilt: "\F574";
$mdi-view-stream: "\F575";
$mdi-view-week: "\F576";
$mdi-vimeo: "\F577";
$mdi-vine: "\F578";
$mdi-violin: "\F60F";
$mdi-visualstudio: "\F610";
$mdi-vk: "\F579";
$mdi-vk-box: "\F57A";
$mdi-vk-circle: "\F57B";
$mdi-vlc: "\F57C";
$mdi-voice: "\F5CB";
$mdi-voicemail: "\F57D";
$mdi-volume-high: "\F57E";
$mdi-volume-low: "\F57F";
$mdi-volume-medium: "\F580";
$mdi-volume-off: "\F581";
$mdi-vpn: "\F582";
$mdi-walk: "\F583";
$mdi-wallet: "\F584";
$mdi-wallet-giftcard: "\F585";
$mdi-wallet-membership: "\F586";
$mdi-wallet-travel: "\F587";
$mdi-wan: "\F588";
$mdi-watch: "\F589";
$mdi-watch-export: "\F58A";
$mdi-watch-import: "\F58B";
$mdi-water: "\F58C";
$mdi-water-off: "\F58D";
$mdi-water-percent: "\F58E";
$mdi-water-pump: "\F58F";
$mdi-watermark: "\F612";
$mdi-weather-cloudy: "\F590";
$mdi-weather-fog: "\F591";
$mdi-weather-hail: "\F592";
$mdi-weather-lightning: "\F593";
$mdi-weather-night: "\F594";
$mdi-weather-partlycloudy: "\F595";
$mdi-weather-pouring: "\F596";
$mdi-weather-rainy: "\F597";
$mdi-weather-snowy: "\F598";
$mdi-weather-sunny: "\F599";
$mdi-weather-sunset: "\F59A";
$mdi-weather-sunset-down: "\F59B";
$mdi-weather-sunset-up: "\F59C";
$mdi-weather-windy: "\F59D";
$mdi-weather-windy-variant: "\F59E";
$mdi-web: "\F59F";
$mdi-webcam: "\F5A0";
$mdi-wechat: "\F611";
$mdi-weight: "\F5A1";
$mdi-weight-kilogram: "\F5A2";
$mdi-whatsapp: "\F5A3";
$mdi-wheelchair-accessibility: "\F5A4";
$mdi-white-balance-auto: "\F5A5";
$mdi-white-balance-incandescent: "\F5A6";
$mdi-white-balance-irradescent: "\F5A7";
$mdi-white-balance-sunny: "\F5A8";
$mdi-wifi: "\F5A9";
$mdi-wifi-off: "\F5AA";
$mdi-wii: "\F5AB";
$mdi-wikipedia: "\F5AC";
$mdi-window-close: "\F5AD";
$mdi-window-closed: "\F5AE";
$mdi-window-maximize: "\F5AF";
$mdi-window-minimize: "\F5B0";
$mdi-window-open: "\F5B1";
$mdi-window-restore: "\F5B2";
$mdi-windows: "\F5B3";
$mdi-wordpress: "\F5B4";
$mdi-worker: "\F5B5";
$mdi-wrap: "\F5B6";
$mdi-wrench: "\F5B7";
$mdi-wunderlist: "\F5B8";
$mdi-xbox: "\F5B9";
$mdi-xbox-controller: "\F5BA";
$mdi-xbox-controller-off: "\F5BB";
$mdi-xda: "\F5BC";
$mdi-xing: "\F5BD";
$mdi-xing-box: "\F5BE";
$mdi-xing-circle: "\F5BF";
$mdi-xml: "\F5C0";
$mdi-yeast: "\F5C1";
$mdi-yelp: "\F5C2";
$mdi-youtube-play: "\F5C3";
$mdi-zip-box: "\F5C4";
