/**
 * Material-Freebox-OS
 * Toolbar
 */

.freeboxos-southbar.x-toolbar {
    border: 0!important;
    padding: 0;
    background: transparent!important;
    @include transition-property(background);
    @include transition-duration($timing-short);

    &.solid-background {
        background: $color-dark!important;
        @include box-shadow(0 0 8px -1px rgba(#000, 0.8));
    }

    // Main button
    .btn-start {
        color: rgba(#fff, 0.9);
        @include transition-property(color);
        @include transition-duration($timing-short);
        width: 46px;
        padding: 8px;
        font-size: 31px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

        @include material-icon($mdi-apps);

        &:hover {
            color: #fff;
        }
        &, &:hover {
            background: none!important;
        }
    }

    // Windows list
    .x-btn.fbx-taskbar {
        background: none!important;
        border: none!important;
        border-bottom: 2px solid transparent!important;
        @include border-radius(0);
        @include transition-duration($timing-short);

        // Let shadow go outside the container
        .x-btn-button {
            overflow: visible;
        }

        .x-btn-wrap {
            .x-btn-inner {
                font-family: $roboto;
                font-size: 13px;
                padding-left: 40px;
                padding-right: 10px;
                text-overflow: ellipsis;
                text-shadow: 1px 1px 1px rgba(#000, 0.3);
            }
            .x-btn-icon-el {
                padding-left: 4px;
                font-size: 24px;
                line-height: 32px;
                color: #fff;
                text-shadow: 1px 1px 1px rgba(#000, 0.3);
                @include border-radius(50%);
                @extend .elevation-low;

                // Default background color
                @extend .accent-color--background;

                // Override for specific icons
                @each $name, $color in $icons-colors-80-32 {
                    &.app-icons-32-#{$name} {
                        background-color: $color!important;
                    }
                }
            }
        }

        &.x-pressed {
            border-color: rgba(#fff, 0.9)!important;
        }
    }
    // No icon elevation with solid background
    &.solid-background .x-btn.fbx-taskbar .x-btn-wrap .x-btn-icon-el {
        @extend .elevation-none;
    }

    // Right icons
    // Loading indicator
    .taskbar-activity-btn {
        background-color: transparent!important;
        border-width: 0!important;
        padding: 0;
        @include box-shadow(none!important);

        .x-btn-icon-el {
            font-size: 28px;
            margin-top: 8px;
            color: rgba(#fff, 0.9);
            background-image: none!important;
            @include material-icon($mdi-cached);
        }
    }
    // Standard icon (wifi, adblock)
    .x-icon .x-btn-icon-el {
        margin-top: 5px;
        color: rgba(#fff, 0.9);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    }

    // Clock
    .clock-display-field {
        .x-form-display-field {
            cursor: default;
            padding: 4px 1px;
            margin: 14px 6px;
            @include border-radius(2px);
            background-color: rgba(0, 0, 0, 0.4);
            font-family: $roboto;
            font-size: 14px;
            color: #ffffff!important;
            font-weight: 600;
        }
    }
}

// Apps list (start menu)
.fbx-start-menu {
    border-color: transparent;
    @include border-radius(2px);
    @extend .elevation-medium;

    .x-menu-body {
        border: 0;
        background: #fff;
        background-image: none!important;

        .x-menu-item {
            @include border-radius(0);

            .x-menu-item-link {
                @include transition-property(background);
                @include transition-duration($timing-short);

                .x-menu-item-text {
                    font-size: 14px;
                    font-family: $roboto;
                    line-height: 34px;
                }

                .x-menu-item-icon {
                    top: 6px!important;

                    // Set colors
                    @each $name, $color in $icons-colors-80-32 {
                        &.app-icons-32-#{$name} {
                            color: $color;
                        }
                    }
                }

                .x-menu-item-arrow {
                    background-image: none;
                    font-size: 20px!important;
                    color: #333;
                    top: 12px;
                    right: 10px;

                    @include material-icon($mdi-chevron-right);
                }
            }

            &.x-menu-item-active {
                background: $color-hover-dark !important;

                .x-menu-item-link {
                    background: transparent;

                    .x-menu-item-icon {
                        color: #fff;
                    }

                    .x-menu-item-arrow {
                        right: 10px;
                        color: #eee!important;
                    }
                }
            }

            &.grayscale {
                @include opacity(0.5);


                a, a .x-menu-item-text {
                    cursor: default;
                }
            }
        }
    }
}
