/**
 * Material-Freebox-OS
 */

// Import part files
@import 'mixins';
@import 'materialdesignicons';
@import 'materialdesignicons-vars';

@import 'material';
@import 'material-buttons';
@import 'icons';

@import 'components';
@import 'inputs';
@import 'window';
@import 'toolbar';
@import 'desktop';
@import 'desktop-login';

@import 'app-browser';
@import 'app-downloader';
@import 'app-epg';
@import 'app-lanbrowser';
@import 'app-settings';
